In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
base_path = ''

In [2]:
base = pd.read_csv(base_path + 'test0927.csv')
base

                GDS_NM  hour  month  SALE_QTY
0               메가촉 초코     8      9       1.0
1               메가촉 초코     8      9       2.0
2               메가촉 초코     8     10       1.0
3               메가촉 초코    10     10       1.0
4               메가촉 초코    11      9       1.0
...                ...   ...    ...       ...
4176442  히말라야핑크솔트플로럴민트    10      7       1.0
4176443  히말라야핑크솔트플로럴민트    13      4       1.0
4176444  히말라야핑크솔트플로럴민트    17      5       1.0
4176445  히말라야핑크솔트플로럴민트    18      8       1.0
4176446  히말라야핑크솔트플로럴민트    18     12       1.0

[4176447 rows x 4 columns]

In [3]:
base1 = base[['GDS_NM', 'hour']]
base1

                GDS_NM  hour
0               메가촉 초코     8
1               메가촉 초코     8
2               메가촉 초코     8
3               메가촉 초코    10
4               메가촉 초코    11
...                ...   ...
4176442  히말라야핑크솔트플로럴민트    10
4176443  히말라야핑크솔트플로럴민트    13
4176444  히말라야핑크솔트플로럴민트    17
4176445  히말라야핑크솔트플로럴민트    18
4176446  히말라야핑크솔트플로럴민트    18

[4176447 rows x 2 columns]

In [4]:
condition = (base1.hour == 5)
base1.loc[condition, ['hour']]
base1['h5'] = base1.loc[condition, ['hour']]
base1

<ipython-input-4-afd194ec6d91>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base1['h5'] = base1.loc[condition, ['hour']]

                GDS_NM  hour  h5
0               메가촉 초코     8 NaN
1               메가촉 초코     8 NaN
2               메가촉 초코     8 NaN
3               메가촉 초코    10 NaN
4               메가촉 초코    11 NaN
...                ...   ...  ..
4176442  히말라야핑크솔트플로럴민트    10 NaN
4176443  히말라야핑크솔트플로럴민트    13 NaN
4176444  히말라야핑크솔트플로럴민트    17 NaN
4176445  히말라야핑크솔트플로럴민트    18 NaN
4176446  히말라야핑크솔트플로럴민트    18 NaN

[4176447 rows x 3 columns]

In [5]:
condition = (base1.hour == 6)
base1.loc[condition, ['hour']]
base1['h6'] = base1.loc[condition, ['hour']]
base1

                GDS_NM  hour  h5  h6
0               메가촉 초코     8 NaN NaN
1               메가촉 초코     8 NaN NaN
2               메가촉 초코     8 NaN NaN
3               메가촉 초코    10 NaN NaN
4               메가촉 초코    11 NaN NaN
...                ...   ...  ..  ..
4176442  히말라야핑크솔트플로럴민트    10 NaN NaN
4176443  히말라야핑크솔트플로럴민트    13 NaN NaN
4176444  히말라야핑크솔트플로럴민트    17 NaN NaN
4176445  히말라야핑크솔트플로럴민트    18 NaN NaN
4176446  히말라야핑크솔트플로럴민트    18 NaN NaN

[4176447 rows x 4 columns]

In [6]:
condition = (base1.hour == 7)
base1.loc[condition, ['hour']]
base1['h7'] = base1.loc[condition, ['hour']]
base1

                GDS_NM  hour  h5  h6  h7
0               메가촉 초코     8 NaN NaN NaN
1               메가촉 초코     8 NaN NaN NaN
2               메가촉 초코     8 NaN NaN NaN
3               메가촉 초코    10 NaN NaN NaN
4               메가촉 초코    11 NaN NaN NaN
...                ...   ...  ..  ..  ..
4176442  히말라야핑크솔트플로럴민트    10 NaN NaN NaN
4176443  히말라야핑크솔트플로럴민트    13 NaN NaN NaN
4176444  히말라야핑크솔트플로럴민트    17 NaN NaN NaN
4176445  히말라야핑크솔트플로럴민트    18 NaN NaN NaN
4176446  히말라야핑크솔트플로럴민트    18 NaN NaN NaN

[4176447 rows x 5 columns]

In [7]:
condition = (base1.hour == 8)
base1.loc[condition, ['hour']]
base1['h8'] = base1.loc[condition, ['hour']]
base1

                GDS_NM  hour  h5  h6  h7   h8
0               메가촉 초코     8 NaN NaN NaN  8.0
1               메가촉 초코     8 NaN NaN NaN  8.0
2               메가촉 초코     8 NaN NaN NaN  8.0
3               메가촉 초코    10 NaN NaN NaN  NaN
4               메가촉 초코    11 NaN NaN NaN  NaN
...                ...   ...  ..  ..  ..  ...
4176442  히말라야핑크솔트플로럴민트    10 NaN NaN NaN  NaN
4176443  히말라야핑크솔트플로럴민트    13 NaN NaN NaN  NaN
4176444  히말라야핑크솔트플로럴민트    17 NaN NaN NaN  NaN
4176445  히말라야핑크솔트플로럴민트    18 NaN NaN NaN  NaN
4176446  히말라야핑크솔트플로럴민트    18 NaN NaN NaN  NaN

[4176447 rows x 6 columns]

In [8]:
condition = (base1.hour == 9)
base1.loc[condition, ['hour']]
base1['h9'] = base1.loc[condition, ['hour']]
base1

                GDS_NM  hour  h5  h6  h7   h8  h9
0               메가촉 초코     8 NaN NaN NaN  8.0 NaN
1               메가촉 초코     8 NaN NaN NaN  8.0 NaN
2               메가촉 초코     8 NaN NaN NaN  8.0 NaN
3               메가촉 초코    10 NaN NaN NaN  NaN NaN
4               메가촉 초코    11 NaN NaN NaN  NaN NaN
...                ...   ...  ..  ..  ..  ...  ..
4176442  히말라야핑크솔트플로럴민트    10 NaN NaN NaN  NaN NaN
4176443  히말라야핑크솔트플로럴민트    13 NaN NaN NaN  NaN NaN
4176444  히말라야핑크솔트플로럴민트    17 NaN NaN NaN  NaN NaN
4176445  히말라야핑크솔트플로럴민트    18 NaN NaN NaN  NaN NaN
4176446  히말라야핑크솔트플로럴민트    18 NaN NaN NaN  NaN NaN

[4176447 rows x 7 columns]

In [9]:
condition = (base1.hour == 10)
base1.loc[condition, ['hour']]
base1['h10'] = base1.loc[condition, ['hour']]
base1

                GDS_NM  hour  h5  h6  h7   h8  h9   h10
0               메가촉 초코     8 NaN NaN NaN  8.0 NaN   NaN
1               메가촉 초코     8 NaN NaN NaN  8.0 NaN   NaN
2               메가촉 초코     8 NaN NaN NaN  8.0 NaN   NaN
3               메가촉 초코    10 NaN NaN NaN  NaN NaN  10.0
4               메가촉 초코    11 NaN NaN NaN  NaN NaN   NaN
...                ...   ...  ..  ..  ..  ...  ..   ...
4176442  히말라야핑크솔트플로럴민트    10 NaN NaN NaN  NaN NaN  10.0
4176443  히말라야핑크솔트플로럴민트    13 NaN NaN NaN  NaN NaN   NaN
4176444  히말라야핑크솔트플로럴민트    17 NaN NaN NaN  NaN NaN   NaN
4176445  히말라야핑크솔트플로럴민트    18 NaN NaN NaN  NaN NaN   NaN
4176446  히말라야핑크솔트플로럴민트    18 NaN NaN NaN  NaN NaN   NaN

[4176447 rows x 8 columns]

In [10]:
condition = (base1.hour == 11)
base1.loc[condition, ['hour']]
base1['h11'] = base1.loc[condition, ['hour']]
base1

                GDS_NM  hour  h5  h6  h7   h8  h9   h10   h11
0               메가촉 초코     8 NaN NaN NaN  8.0 NaN   NaN   NaN
1               메가촉 초코     8 NaN NaN NaN  8.0 NaN   NaN   NaN
2               메가촉 초코     8 NaN NaN NaN  8.0 NaN   NaN   NaN
3               메가촉 초코    10 NaN NaN NaN  NaN NaN  10.0   NaN
4               메가촉 초코    11 NaN NaN NaN  NaN NaN   NaN  11.0
...                ...   ...  ..  ..  ..  ...  ..   ...   ...
4176442  히말라야핑크솔트플로럴민트    10 NaN NaN NaN  NaN NaN  10.0   NaN
4176443  히말라야핑크솔트플로럴민트    13 NaN NaN NaN  NaN NaN   NaN   NaN
4176444  히말라야핑크솔트플로럴민트    17 NaN NaN NaN  NaN NaN   NaN   NaN
4176445  히말라야핑크솔트플로럴민트    18 NaN NaN NaN  NaN NaN   NaN   NaN
4176446  히말라야핑크솔트플로럴민트    18 NaN NaN NaN  NaN NaN   NaN   NaN

[4176447 rows x 9 columns]

In [11]:
condition = (base1.hour == 12)
base1.loc[condition, ['hour']]
base1['h12'] = base1.loc[condition, ['hour']]
base1

                GDS_NM  hour  h5  h6  h7   h8  h9   h10   h11  h12
0               메가촉 초코     8 NaN NaN NaN  8.0 NaN   NaN   NaN  NaN
1               메가촉 초코     8 NaN NaN NaN  8.0 NaN   NaN   NaN  NaN
2               메가촉 초코     8 NaN NaN NaN  8.0 NaN   NaN   NaN  NaN
3               메가촉 초코    10 NaN NaN NaN  NaN NaN  10.0   NaN  NaN
4               메가촉 초코    11 NaN NaN NaN  NaN NaN   NaN  11.0  NaN
...                ...   ...  ..  ..  ..  ...  ..   ...   ...  ...
4176442  히말라야핑크솔트플로럴민트    10 NaN NaN NaN  NaN NaN  10.0   NaN  NaN
4176443  히말라야핑크솔트플로럴민트    13 NaN NaN NaN  NaN NaN   NaN   NaN  NaN
4176444  히말라야핑크솔트플로럴민트    17 NaN NaN NaN  NaN NaN   NaN   NaN  NaN
4176445  히말라야핑크솔트플로럴민트    18 NaN NaN NaN  NaN NaN   NaN   NaN  NaN
4176446  히말라야핑크솔트플로럴민트    18 NaN NaN NaN  NaN NaN   NaN   NaN  NaN

[4176447 rows x 10 columns]

In [12]:
condition = (base1.hour == 13)
base1.loc[condition, ['hour']]
base1['h13'] = base1.loc[condition, ['hour']]
base1

                GDS_NM  hour  h5  h6  h7   h8  h9   h10   h11  h12   h13
0               메가촉 초코     8 NaN NaN NaN  8.0 NaN   NaN   NaN  NaN   NaN
1               메가촉 초코     8 NaN NaN NaN  8.0 NaN   NaN   NaN  NaN   NaN
2               메가촉 초코     8 NaN NaN NaN  8.0 NaN   NaN   NaN  NaN   NaN
3               메가촉 초코    10 NaN NaN NaN  NaN NaN  10.0   NaN  NaN   NaN
4               메가촉 초코    11 NaN NaN NaN  NaN NaN   NaN  11.0  NaN   NaN
...                ...   ...  ..  ..  ..  ...  ..   ...   ...  ...   ...
4176442  히말라야핑크솔트플로럴민트    10 NaN NaN NaN  NaN NaN  10.0   NaN  NaN   NaN
4176443  히말라야핑크솔트플로럴민트    13 NaN NaN NaN  NaN NaN   NaN   NaN  NaN  13.0
4176444  히말라야핑크솔트플로럴민트    17 NaN NaN NaN  NaN NaN   NaN   NaN  NaN   NaN
4176445  히말라야핑크솔트플로럴민트    18 NaN NaN NaN  NaN NaN   NaN   NaN  NaN   NaN
4176446  히말라야핑크솔트플로럴민트    18 NaN NaN NaN  NaN NaN   NaN   NaN  NaN   NaN

[4176447 rows x 11 columns]

In [13]:
condition = (base1.hour == 14)
base1.loc[condition, ['hour']]
base1['h14'] = base1.loc[condition, ['hour']]
base1

                GDS_NM  hour  h5  h6  h7   h8  h9   h10   h11  h12   h13  h14
0               메가촉 초코     8 NaN NaN NaN  8.0 NaN   NaN   NaN  NaN   NaN  NaN
1               메가촉 초코     8 NaN NaN NaN  8.0 NaN   NaN   NaN  NaN   NaN  NaN
2               메가촉 초코     8 NaN NaN NaN  8.0 NaN   NaN   NaN  NaN   NaN  NaN
3               메가촉 초코    10 NaN NaN NaN  NaN NaN  10.0   NaN  NaN   NaN  NaN
4               메가촉 초코    11 NaN NaN NaN  NaN NaN   NaN  11.0  NaN   NaN  NaN
...                ...   ...  ..  ..  ..  ...  ..   ...   ...  ...   ...  ...
4176442  히말라야핑크솔트플로럴민트    10 NaN NaN NaN  NaN NaN  10.0   NaN  NaN   NaN  NaN
4176443  히말라야핑크솔트플로럴민트    13 NaN NaN NaN  NaN NaN   NaN   NaN  NaN  13.0  NaN
4176444  히말라야핑크솔트플로럴민트    17 NaN NaN NaN  NaN NaN   NaN   NaN  NaN   NaN  NaN
4176445  히말라야핑크솔트플로럴민트    18 NaN NaN NaN  NaN NaN   NaN   NaN  NaN   NaN  NaN
4176446  히말라야핑크솔트플로럴민트    18 NaN NaN NaN  NaN NaN   NaN   NaN  NaN   NaN  NaN

[4176447 rows x 12 columns]

In [14]:
condition = (base1.hour == 15)
base1.loc[condition, ['hour']]
base1['h15'] = base1.loc[condition, ['hour']]
base1

,GDS_NM,hour,h5,h6,h7,h8,h9,h10,h11,h12,h13,h14,h15
0,메가촉 초코,8,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,메가촉 초코,8,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,메가촉 초코,8,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,메가촉 초코,10,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN
4,메가촉 초코,11,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4176442,히말라야핑크솔트플로럴민트,10,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN
4176443,히말라야핑크솔트플로럴민트,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN
4176444,히말라야핑크솔트플로럴민트,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4176445,히말라야핑크솔트플로럴민트,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4176446,히말라야핑크솔트플로럴민트,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
condition = (base1.hour == 16)
base1.loc[condition, ['hour']]
base1['h16'] = base1.loc[condition, ['hour']]
base1

,GDS_NM,hour,h5,h6,h7,h8,h9,h10,h11,h12,h13,h14,h15,h16
0,메가촉 초코,8,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,메가촉 초코,8,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,메가촉 초코,8,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,메가촉 초코,10,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN
4,메가촉 초코,11,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4176442,히말라야핑크솔트플로럴민트,10,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN
4176443,히말라야핑크솔트플로럴민트,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN
4176444,히말라야핑크솔트플로럴민트,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4176445,히말라야핑크솔트플로럴민트,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4176446,히말라야핑크솔트플로럴민트,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
condition = (base1.hour == 17)
base1.loc[condition, ['hour']]
base1['h17'] = base1.loc[condition, ['hour']]
base1

,GDS_NM,hour,h5,h6,h7,h8,h9,h10,h11,h12,h13,h14,h15,h16,h17
0,메가촉 초코,8,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,메가촉 초코,8,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,메가촉 초코,8,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,메가촉 초코,10,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,메가촉 초코,11,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4176442,히말라야핑크솔트플로럴민트,10,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4176443,히말라야핑크솔트플로럴민트,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN
4176444,히말라야핑크솔트플로럴민트,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0
4176445,히말라야핑크솔트플로럴민트,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4176446,히말라야핑크솔트플로럴민트,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
condition = (base1.hour == 18)
base1.loc[condition, ['hour']]
base1['h18'] = base1.loc[condition, ['hour']]
base1

,GDS_NM,hour,h5,h6,h7,h8,h9,h10,h11,h12,h13,h14,h15,h16,h17,h18
0,메가촉 초코,8,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,메가촉 초코,8,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,메가촉 초코,8,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,메가촉 초코,10,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,메가촉 초코,11,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4176442,히말라야핑크솔트플로럴민트,10,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4176443,히말라야핑크솔트플로럴민트,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN
4176444,히말라야핑크솔트플로럴민트,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,NaN
4176445,히말라야핑크솔트플로럴민트,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0
4176446,히말라야핑크솔트플로럴민트,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0

In [18]:
condition = (base1.hour == 19)
base1.loc[condition, ['hour']]
base1['h19'] = base1.loc[condition, ['hour']]
base1

,GDS_NM,hour,h5,h6,h7,h8,h9,h10,h11,h12,h13,h14,h15,h16,h17,h18,h19
0,메가촉 초코,8,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,메가촉 초코,8,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,메가촉 초코,8,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,메가촉 초코,10,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,메가촉 초코,11,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4176442,히말라야핑크솔트플로럴민트,10,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4176443,히말라야핑크솔트플로럴민트,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN
4176444,히말라야핑크솔트플로럴민트,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,NaN,NaN
4176445,히말라야핑크솔트플로럴민트,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN
4176446,히말라야핑크솔트플로럴민트,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN

In [19]:
condition = (base1.hour == 20)
base1.loc[condition, ['hour']]
base1['h20'] = base1.loc[condition, ['hour']]
base1

,GDS_NM,hour,h5,h6,h7,h8,h9,h10,h11,h12,h13,h14,h15,h16,h17,h18,h19,h20
0,메가촉 초코,8,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,메가촉 초코,8,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,메가촉 초코,8,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,메가촉 초코,10,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,메가촉 초코,11,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4176442,히말라야핑크솔트플로럴민트,10,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4176443,히말라야핑크솔트플로럴민트,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4176444,히말라야핑크솔트플로럴민트,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN
4176445,히말라야핑크솔트플로럴민트,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
4176446,히말라야핑크솔트플로럴민트,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN

In [20]:
condition = (base1.hour == 21)
base1.loc[condition, ['hour']]
base1['h21'] = base1.loc[condition, ['hour']]
base1

,GDS_NM,hour,h5,h6,h7,h8,h9,h10,h11,h12,h13,h14,h15,h16,h17,h18,h19,h20,h21
0,메가촉 초코,8,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,메가촉 초코,8,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,메가촉 초코,8,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,메가촉 초코,10,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,메가촉 초코,11,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4176442,히말라야핑크솔트플로럴민트,10,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4176443,히말라야핑크솔트플로럴민트,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4176444,히말라야핑크솔트플로럴민트,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN
4176445,히말라야핑크솔트플로럴민트,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN
4176446,히말라야핑크솔트플로럴민트,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN

In [21]:
base1

,GDS_NM,hour,h5,h6,h7,h8,h9,h10,h11,h12,h13,h14,h15,h16,h17,h18,h19,h20,h21
0,메가촉 초코,8,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,메가촉 초코,8,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,메가촉 초코,8,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,메가촉 초코,10,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,메가촉 초코,11,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4176442,히말라야핑크솔트플로럴민트,10,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4176443,히말라야핑크솔트플로럴민트,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4176444,히말라야핑크솔트플로럴민트,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN
4176445,히말라야핑크솔트플로럴민트,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN
4176446,히말라야핑크솔트플로럴민트,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN

In [22]:
base1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4176447 entries, 0 to 4176446
Data columns (total 19 columns):
 #   Column  Dtype
---  ------  -----
 0   GDS_NM  object
 1   hour    int64
 2   h5      float64
 3   h6      float64
 4   h7      float64
 5   h8      float64
 6   h9      float64
 7   h10     float64
 8   h11     float64
 9   h12     float64
 10  h13     float64
 11  h14     float64
 12  h15     float64
 13  h16     float64
 14  h17     float64
 15  h18     float64
 16  h19     float64
 17  h20     float64
 18  h21     float64
dtypes: float64(17), int64(1), object(1)
memory usage: 605.4+ MB

In [23]:
base1.columns

Index(['GDS_NM', 'hour', 'h5', 'h6', 'h7', 'h8', 'h9', 'h10', 'h11', 'h12',
       'h13', 'h14', 'h15', 'h16', 'h17', 'h18', 'h19', 'h20', 'h21'],
      dtype='object')

In [45]:
base1.to_csv('base0928.csv', index=False)

In [37]:
base1

,GDS_NM,hour,h5,h6,h7,h8,h9,h10,h11,h12,h13,h14,h15,h16,h17,h18,h19,h20,h21
0,메가촉 초코,8,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,메가촉 초코,8,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,메가촉 초코,8,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,메가촉 초코,10,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,메가촉 초코,11,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4176442,히말라야핑크솔트플로럴민트,10,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4176443,히말라야핑크솔트플로럴민트,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4176444,히말라야핑크솔트플로럴민트,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN
4176445,히말라야핑크솔트플로럴민트,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN
4176446,히말라야핑크솔트플로럴민트,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN

In [43]:
base1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4176447 entries, 0 to 4176446
Data columns (total 19 columns):
 #   Column  Dtype
---  ------  -----
 0   GDS_NM  object
 1   hour    int64
 2   h5      float64
 3   h6      float64
 4   h7      float64
 5   h8      float64
 6   h9      float64
 7   h10     float64
 8   h11     float64
 9   h12     float64
 10  h13     float64
 11  h14     float64
 12  h15     float64
 13  h16     float64
 14  h17     float64
 15  h18     float64
 16  h19     float64
 17  h20     float64
 18  h21     float64
dtypes: float64(17), int64(1), object(1)
memory usage: 605.4+ MB

In [47]:
base1

,GDS_NM,hour,h5,h6,h7,h8,h9,h10,h11,h12,h13,h14,h15,h16,h17,h18,h19,h20,h21
0,메가촉 초코,8,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,메가촉 초코,8,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,메가촉 초코,8,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,메가촉 초코,10,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,메가촉 초코,11,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4176442,히말라야핑크솔트플로럴민트,10,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4176443,히말라야핑크솔트플로럴민트,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4176444,히말라야핑크솔트플로럴민트,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN
4176445,히말라야핑크솔트플로럴민트,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN
4176446,히말라야핑크솔트플로럴민트,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN

In [50]:
base1['hour'].value_counts()

16    480842
17    467313
15    441718
18    415911
14    372052
13    337789
12    329107
11    315866
19    288465
10    240542
20    216710
9     113044
21     99147
8      42105
7      13940
6       1889
5          7
Name: hour, dtype: int64

In [51]:
base1['h5'].value_counts()

5.0    7
Name: h5, dtype: int64

In [52]:
base1['h6'].value_counts()

6.0    1889
Name: h6, dtype: int64