In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
base_path = ''

In [2]:
df = pd.read_csv(base_path + 'df1012.csv')
df

,SAL_DT,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_QTY,SALE_PRC,SALE_AMT,month,day,weekday
0,2021-09-14,2206300051,전자식PL등기구,99999,1.0,11000.0,11000.0,9,14,1
1,2022-02-09,2206300051,전자식PL등기구,99999,1.0,11000.0,11000.0,2,9,2
2,2022-04-19,24463061095,스리라차,11271,1.0,10300.0,10300.0,4,19,1
3,2022-04-18,26102800164,아코록엠필러블강화볼,91701,1.0,13900.0,13900.0,4,18,0
4,2021-09-05,27000380765,헌트토마토홀,140101,1.0,9200.0,9200.0,9,5,6
...,...,...,...,...,...,...,...,...,...,...
2141898,2021-10-07,9803340000003,갈대비,999999,1.0,4200.0,4200.0,10,7,3
2141899,2021-11-02,9803340000003,갈대비,999999,1.0,4200.0,4200.0,11,2,1
2141900,2022-01-18,9803340000003,갈대비,999999,1.0,4200.0,4200.0,1,18,1
2141901,2022-01-18,9803340000003,갈대비,999999,1.0,4200.0,4200.0,1,18,1
2141902,2022-03-16,9803340000003,갈대비,999999,1.0,4200.0,4200.0,3,16,2