In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
base_path = ''

In [12]:
# a 마트 gds+list+dtl
bmart = pd.read_csv(base_path + 'tr_list_b.csv')
bmart

C:\Users\min\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (2,11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,SAL_DT,STR_CD,POS_NO,TRAN_NO,SALE_KIND_TP_NM,SALE_RTN_SGN,REAL_SAL_DT,REAL_SAL_TTM,PAY_AMT,MSHP_ID,ORN_SAL_DT,ORN_POS_NO,ORN_TRAN_NO
0,20210901,72005,01,1,영업개시,1,20210901,83544,0.0,NaN,NaN,NaN,NaN
1,20210901,72005,01,2,준비금,1,20210901,84022,0.0,NaN,NaN,NaN,NaN
2,20210901,72005,01,3,매출,1,20210901,84819,6700.0,NaN,NaN,NaN,NaN
3,20210901,72005,01,4,매출,1,20210901,85644,15000.0,NaN,NaN,NaN,NaN
4,20210901,72005,01,5,매출,1,20210901,90043,8340.0,072005_0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
300079,20220901,72005,03,334,캐셔정산,1,20220901,215155,0.0,NaN,NaN,NaN,NaN
300080,20220901,72005,03,335,POS정산,1,20220901,215201,0.0,NaN,NaN,NaN,NaN
300081,20220901,72005,03,336,영업종료,1,20220901,215202,0.0,NaN,NaN,NaN,NaN
300082,20220901,72005,03,337,로그오프,1,20220901,215210,0.0,NaN,NaN,NaN,NaN
300083,20220901,72005,03,338,로그인,1,20220903,155106,0.0,NaN,NaN,NaN,NaN

In [13]:
bmart.isnull().sum()

SAL_DT                  0
STR_CD                  0
POS_NO                  0
TRAN_NO                 0
SALE_KIND_TP_NM         0
SALE_RTN_SGN            0
REAL_SAL_DT             0
REAL_SAL_TTM            0
PAY_AMT                 0
MSHP_ID            114000
ORN_SAL_DT         296723
ORN_POS_NO         296723
ORN_TRAN_NO        296723
dtype: int64

In [4]:
c = cmart[cmart['MSHP_ID']]
c

KeyError: "None of [Float64Index([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,\n              ...\n              nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],\n             dtype='float64', length=38420)] are in the [columns]"