In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
base_path = ''
pd.set_option('display.max_row', 500)

In [2]:
test = pd.read_csv(base_path + 'test0928.csv')
test

                GDS_NM  hour  month  day  SALE_QTY
0               메가촉 초코     8      9    1       2.0
1               메가촉 초코     8      9    6       1.0
2               메가촉 초코     8     10    5       1.0
3               메가촉 초코    10     10    5       1.0
4               메가촉 초코    11      9    6       1.0
...                ...   ...    ...  ...       ...
4237060  히말라야핑크솔트플로럴민트    10      7    1       1.0
4237061  히말라야핑크솔트플로럴민트    13      4    6       1.0
4237062  히말라야핑크솔트플로럴민트    17      5    6       1.0
4237063  히말라야핑크솔트플로럴민트    18      8    5       1.0
4237064  히말라야핑크솔트플로럴민트    18     12    3       1.0

[4237065 rows x 5 columns]

In [3]:
test1 = test[['GDS_NM', 'hour', 'month', 'day']]
test1

                GDS_NM  hour  month  day
0               메가촉 초코     8      9    1
1               메가촉 초코     8      9    6
2               메가촉 초코     8     10    5
3               메가촉 초코    10     10    5
4               메가촉 초코    11      9    6
...                ...   ...    ...  ...
4237060  히말라야핑크솔트플로럴민트    10      7    1
4237061  히말라야핑크솔트플로럴민트    13      4    6
4237062  히말라야핑크솔트플로럴민트    17      5    6
4237063  히말라야핑크솔트플로럴민트    18      8    5
4237064  히말라야핑크솔트플로럴민트    18     12    3

[4237065 rows x 4 columns]

In [4]:
test1['GDS_NM']= test1['GDS_NM'].str.replace(pat=r'[^가-힣A-Z0-9]',repl=r' ',regex=True)
test1['GDS_NM']

<ipython-input-4-bf142111715b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test1['GDS_NM']= test1['GDS_NM'].str.replace(pat=r'[^가-힣A-Z0-9]',repl=r' ',regex=True)

0                 메가촉 초코
1                 메가촉 초코
2                 메가촉 초코
3                 메가촉 초코
4                 메가촉 초코
               ...
4237060    히말라야핑크솔트플로럴민트
4237061    히말라야핑크솔트플로럴민트
4237062    히말라야핑크솔트플로럴민트
4237063    히말라야핑크솔트플로럴민트
4237064    히말라야핑크솔트플로럴민트
Name: GDS_NM, Length: 4237065, dtype: object

In [5]:
test1

                GDS_NM  hour  month  day
0               메가촉 초코     8      9    1
1               메가촉 초코     8      9    6
2               메가촉 초코     8     10    5
3               메가촉 초코    10     10    5
4               메가촉 초코    11      9    6
...                ...   ...    ...  ...
4237060  히말라야핑크솔트플로럴민트    10      7    1
4237061  히말라야핑크솔트플로럴민트    13      4    6
4237062  히말라야핑크솔트플로럴민트    17      5    6
4237063  히말라야핑크솔트플로럴민트    18      8    5
4237064  히말라야핑크솔트플로럴민트    18     12    3

[4237065 rows x 4 columns]

In [6]:
texts = test1['GDS_NM']
texts

0                 메가촉 초코
1                 메가촉 초코
2                 메가촉 초코
3                 메가촉 초코
4                 메가촉 초코
               ...
4237060    히말라야핑크솔트플로럴민트
4237061    히말라야핑크솔트플로럴민트
4237062    히말라야핑크솔트플로럴민트
4237063    히말라야핑크솔트플로럴민트
4237064    히말라야핑크솔트플로럴민트
Name: GDS_NM, Length: 4237065, dtype: object

In [7]:
from hanspell import spell_checker

In [8]:
from tqdm import tqdm

In [ ]:
spell_check = []
for i in tqdm(range(len(texts))):
    try:
        result_train = spell_checker.check(texts[i])
        texts[i] = result_train.checked
        spell_check.append(texts[i])
    except:
        spell_check.append("error")
        
spell_check[:10]

  0%|          | 0/4237065 [00:00<?, ?it/s]<ipython-input-9-cdba5a3e48be>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  texts[i] = result_train.checked
C:\Users\min\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
  1%|          | 52589/4237065 [48:34<57:11:08, 20.33it/s]