In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
base_path = ''

In [2]:
# 제품목록 gds_list_0, gds_list_1
df = pd.read_csv(base_path + 'n8801006-2.csv')

In [3]:
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
0,20210901,71138,2908990043152,구호물품 포장박스,29999.0,216000.0
1,20210901,71138,2908990043169,구호물품 택배비,29999.0,540000.0
2,20210902,73547,2908990043152,구호물품 포장박스,29999.0,132000.0
3,20210902,73547,2908990043169,구호물품 택배비,29999.0,330000.0
4,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
...,...,...,...,...,...,...
2370574,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2370575,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2370576,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2370577,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2370578,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [5]:
drap = df[df['GDS_NM'].str.contains('구호')].index
df.drop(drap, inplace=True)
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
4,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
5,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
6,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
7,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
8,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2370574,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2370575,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2370576,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2370577,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2370578,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [6]:
drap = df[df['GDS_NM'].str.contains('재사용')].index
df.drop(drap, inplace=True)
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
4,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
5,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
6,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
7,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
8,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2370574,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2370575,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2370576,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2370577,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2370578,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [7]:
drap = df[df['GDS_NM'].str.contains('배달봉투')].index
df.drop(drap, inplace=True)
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
4,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
5,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
6,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
7,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
8,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2370574,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2370575,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2370576,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2370577,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2370578,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [8]:
drap = df[df['GDS_NM'].str.contains('종량')].index
df.drop(drap, inplace=True)
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
4,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
5,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
6,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
7,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
8,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2370574,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2370575,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2370576,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2370577,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2370578,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [9]:
drap = df[df['GDS_NM'].str.contains('쓰레기')].index
df.drop(drap, inplace=True)
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
4,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
5,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
6,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
7,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
8,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2370574,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2370575,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2370576,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2370577,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2370578,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [10]:
drap = df[df['GDS_NM'].str.contains('황색봉투')].index
df.drop(drap, inplace=True)
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
4,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
5,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
6,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
7,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
8,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2370574,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2370575,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2370576,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2370577,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2370578,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [11]:
drap = df[df['GDS_NM'].str.contains('음식물')].index
df.drop(drap, inplace=True)
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
4,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
5,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
6,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
7,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
8,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2370574,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2370575,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2370576,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2370577,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2370578,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [12]:
drap = df[df['GDS_NM'].str.contains('잡화')].index
df.drop(drap, inplace=True)
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
4,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
5,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
6,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
7,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
8,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2370574,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2370575,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2370576,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2370577,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2370578,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [13]:
drap = df[df['GDS_NM'].str.contains('교통카드')].index
df.drop(drap, inplace=True)
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
4,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
5,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
6,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
7,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
8,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2370574,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2370575,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2370576,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2370577,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2370578,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [14]:
drap = df[df['GDS_NM'].str.contains('가정용')].index
df.drop(drap, inplace=True)
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
4,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
5,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
6,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
7,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
8,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2370574,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2370575,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2370576,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2370577,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2370578,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [15]:
drap = df[df['GDS_NM'].str.contains('영업용')].index
df.drop(drap, inplace=True)
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
4,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
5,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
6,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
7,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
8,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2370574,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2370575,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2370576,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2370577,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2370578,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [16]:
drap = df[df['GDS_NM'].str.contains('듀라셀')].index
df.drop(drap, inplace=True)
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
4,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
5,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
6,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
7,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
8,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2370574,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2370575,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2370576,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2370577,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2370578,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [17]:
drap = df[df['GDS_NM'].str.contains('질레트')].index
df.drop(drap, inplace=True)
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
4,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
5,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
6,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
7,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
8,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2370574,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2370575,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2370576,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2370577,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2370578,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [18]:
drap = df[df['GDS_NM'].str.contains('다우니')].index
df.drop(drap, inplace=True)
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
4,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
5,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
6,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
7,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
8,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2370574,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2370575,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2370576,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2370577,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2370578,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [19]:
drap = df[df['GDS_NM'].str.contains('페브리즈')].index
df.drop(drap, inplace=True)
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
4,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
5,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
6,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
7,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
8,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2370574,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2370575,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2370576,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2370577,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2370578,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [20]:
drap = df[df['GDS_NM'].str.contains('비식품')].index
df.drop(drap, inplace=True)
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
4,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
5,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
6,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
7,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
8,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2370574,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2370575,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2370576,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2370577,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2370578,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [21]:
drap = df[df['GDS_NM'].str.contains('마대')].index
df.drop(drap, inplace=True)
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
4,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
5,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
6,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
7,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
8,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2370574,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2370575,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2370576,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2370577,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2370578,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [22]:
drap = df[df['GDS_NM'].str.contains('오스람')].index
df.drop(drap, inplace=True)
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
4,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
5,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
6,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
7,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
8,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2370574,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2370575,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2370576,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2370577,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2370578,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [23]:
drap = df[df['GDS_NM'].str.contains('오랄비')].index
df.drop(drap, inplace=True)
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
4,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
5,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
6,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
7,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
8,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2370574,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2370575,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2370576,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2370577,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2370578,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [24]:
drap = df[df['GDS_NM'].str.contains('샴푸')].index
df.drop(drap, inplace=True)
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
4,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
5,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
6,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
7,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
8,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2370574,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2370575,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2370576,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2370577,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2370578,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [25]:
drap = df[df['GDS_NM'].str.contains('감사합니다')].index
df.drop(drap, inplace=True)
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
4,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
5,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
6,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
7,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
8,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2370574,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2370575,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2370576,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2370577,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2370578,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [26]:
drap = df[df['GDS_NM'].str.contains('레스큐')].index
df.drop(drap, inplace=True)
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
4,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
5,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
6,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
7,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
8,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2370574,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2370575,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2370576,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2370577,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2370578,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [27]:
drap = df[df['GDS_NM'].str.contains('면도기')].index
df.drop(drap, inplace=True)
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
4,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
5,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
6,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
7,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
8,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2370574,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2370575,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2370576,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2370577,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2370578,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [28]:
drap = df[df['GDS_NM'].str.contains('린스')].index
df.drop(drap, inplace=True)
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
4,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
5,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
6,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
7,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
8,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2370574,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2370575,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2370576,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2370577,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2370578,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [29]:
drap = df[df['GDS_NM'].str.contains('소주공병')].index
df.drop(drap, inplace=True)
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
4,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
5,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
6,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
7,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
8,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2370574,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2370575,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2370576,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2370577,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2370578,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [30]:
drap = df[df['GDS_NM'].str.contains('린스')].index
df.drop(drap, inplace=True)
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
4,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
5,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
6,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
7,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
8,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2370574,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2370575,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2370576,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2370577,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2370578,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [31]:
drap = df[df['GDS_NM'].str.contains('차량용')].index
df.drop(drap, inplace=True)
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
4,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
5,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
6,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
7,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
8,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2370574,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2370575,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2370576,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2370577,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2370578,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [32]:
drap = df[df['GDS_NM'].str.contains('T체크거실화')].index
df.drop(drap, inplace=True)
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
4,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
5,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
6,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
7,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
8,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2370574,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2370575,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2370576,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2370577,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2370578,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [33]:
drap = df[df['GDS_NM'].str.contains('H&S애플프레쉬')].index
df.drop(drap, inplace=True)
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
4,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
5,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
6,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
7,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
8,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2370574,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2370575,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2370576,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2370577,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2370578,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [34]:
drap = df[df['GDS_NM'].str.contains('베스트마트가방')].index
df.drop(drap, inplace=True)
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
4,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
5,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
6,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
7,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
8,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2370574,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2370575,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2370576,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2370577,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2370578,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [35]:
drap = df[df['GDS_NM'].str.contains('아트릭스핸드크림')].index
df.drop(drap, inplace=True)
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
4,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
5,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
6,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
7,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
8,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2370574,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2370575,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2370576,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2370577,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2370578,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [36]:
# pd.set_option('display.max_rows', 3000)

In [37]:
df['GDS_NM'].head()

4      *의성햇사과/8입(1봉)
5          쌈배추(벌크)1통
6    *성주꿀참외(특)/6입.1봉
7          대패삼겹살(수입)
8               거봉포도
Name: GDS_NM, dtype: object

In [38]:
df['GDS_NM'].value_counts()

*대파 1단        64792
*깻잎(4묶음)/봉    39561
*백오이 1개       38042
흙당근           33614
적상추 1봉/비닐     30120
              ...
USB충전랜턴           1
란체티록2P타올          1
봉지새송이             1
도루묵               1
우럭                1
Name: GDS_NM, Length: 3069, dtype: int64

In [44]:
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
0,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
1,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
2,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
3,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
4,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2087188,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2087189,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2087190,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2087191,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2087192,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [39]:
df.reset_index(drop=True, inplace=True)
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
0,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
1,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
2,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
3,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
4,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2087188,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2087189,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2087190,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2087191,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2087192,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [56]:
# df.to_csv('delete1007.csv', index=False)

In [57]:
cn = pd.read_csv(base_path + 'cn8801006-2.csv')

In [58]:
cn0 = cn[cn['PLU_CD'] <= 8800789888880] # 진로.토닉워터 밑으로 찹쌀부터
cn0

           SAL_DT  REAL_SAL_TTM         PLU_CD GDS_NM  GDS_CLSS_CD  SALE_AMT
6811     20220408        141319  8800789155555     현미     105152.0    8500.0
7935     20220517        155227  8800789144443   현미찹쌀     105152.0   10500.0
34845    20210907        155353  8800789499987     현미     105153.0   38000.0
37209    20210913        160310  8800789144443   현미찹쌀     105152.0   10500.0
38798    20210918         95711  8800789800509     약콩     105152.0   10500.0
...           ...           ...            ...    ...          ...       ...
2905123  20220429        202815  8800789888880     찹쌀     105152.0   49500.0
2905124  20220713        152301  8800789888880     찹쌀     105152.0   49500.0
2908735  20211121        143020  8800789080000    늘보리     105152.0    7300.0
2908736  20220303        165411  8800789080000    늘보리     105152.0    7300.0
2908737  20220617        140922  8800789080000    늘보리     105152.0    7300.0

[451 rows x 6 columns]

In [59]:
cn1 = cn[cn['PLU_CD'] >= 9788087049099] # 쿨토시
cn1

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
8848,20220625,133027,29087875454125,*꿀수박 10kg이상/1통(행사),40102.0,12800.0
9857,20220807,145636,29087875454125,*꿀수박 10kg이상/1통(행사),40102.0,12800.0
9869,20220807,145654,29087875454125,*꿀수박 10kg이상/1통(행사),40102.0,12800.0
26707,20220803,182653,29012541305698,*미니수박 1통,40102.0,3960.0
46838,20211101,121335,18801551302112,하이썬 부탄가스 박스,29901.0,19500.0
...,...,...,...,...,...,...
3599054,20211102,165850,9803340000003,갈대비,999999.0,4200.0
3599055,20220118,102851,9803340000003,갈대비,999999.0,4200.0
3599056,20220316,171450,9803340000003,갈대비,999999.0,4200.0
3600267,20211023,155614,18806427000918,케이스/동화)까스활명수,999999.0,12500.0
3604537,20220703,124822,9788087049099,쿨토시,997979.0,4800.0

In [52]:
cn1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 984 entries, 8848 to 3604537
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SAL_DT        984 non-null    int64
 1   REAL_SAL_TTM  984 non-null    int64
 2   PLU_CD        984 non-null    int64
 3   GDS_NM        984 non-null    object
 4   GDS_CLSS_CD   984 non-null    float64
 5   SALE_AMT      984 non-null    float64
dtypes: float64(2), int64(3), object(1)
memory usage: 93.8+ KB

In [53]:
cn0.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 451 entries, 6811 to 2908737
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SAL_DT        451 non-null    int64
 1   REAL_SAL_TTM  451 non-null    int64
 2   PLU_CD        451 non-null    int64
 3   GDS_NM        451 non-null    object
 4   GDS_CLSS_CD   451 non-null    float64
 5   SALE_AMT      451 non-null    float64
dtypes: float64(2), int64(3), object(1)
memory usage: 44.7+ KB

In [66]:
cn2 = pd.concat([cn1, cn0])

In [67]:
cn2

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
8848,20220625,133027,29087875454125,*꿀수박 10kg이상/1통(행사),40102.0,12800.0
9857,20220807,145636,29087875454125,*꿀수박 10kg이상/1통(행사),40102.0,12800.0
9869,20220807,145654,29087875454125,*꿀수박 10kg이상/1통(행사),40102.0,12800.0
26707,20220803,182653,29012541305698,*미니수박 1통,40102.0,3960.0
46838,20211101,121335,18801551302112,하이썬 부탄가스 박스,29901.0,19500.0
...,...,...,...,...,...,...
2905123,20220429,202815,8800789888880,찹쌀,105152.0,49500.0
2905124,20220713,152301,8800789888880,찹쌀,105152.0,49500.0
2908735,20211121,143020,8800789080000,늘보리,105152.0,7300.0
2908736,20220303,165411,8800789080000,늘보리,105152.0,7300.0
2908737,20220617,140922,8800789080000,늘보리,105152.0,7300.0

In [68]:
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
0,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
1,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
2,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
3,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
4,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2087188,20220823,80114,2599990000780,탐스제로 오렌지600*6,11010.0,6000.0
2087189,20220823,80408,2599990000834,조지아커피6번들,11010.0,6000.0
2087190,20220823,80408,2599990000827,맥스웰마스터6번들,11010.0,6000.0
2087191,20220823,80408,2599990000803,칠성사이다 플러스500*6,11010.0,6000.0
2087192,20220823,82751,2599990000834,조지아커피6번들,11010.0,12000.0

In [69]:
cat = pd.concat([df, cn2])

In [70]:
cat

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
0,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
1,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
2,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
3,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
4,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2905123,20220429,202815,8800789888880,찹쌀,105152.0,49500.0
2905124,20220713,152301,8800789888880,찹쌀,105152.0,49500.0
2908735,20211121,143020,8800789080000,늘보리,105152.0,7300.0
2908736,20220303,165411,8800789080000,늘보리,105152.0,7300.0
2908737,20220617,140922,8800789080000,늘보리,105152.0,7300.0

In [71]:
cat.to_csv('cnn8cat1007.csv', index=False)