In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

base_path = ''

In [2]:
# 제품목록 gds_list_0, gds_list_1
gds_a = pd.read_csv(base_path + 'gds_a.csv')
gds_b = pd.read_csv(base_path + 'gds_b.csv')
gds_c = pd.read_csv(base_path + 'gds_c.csv')
gds_d = pd.read_csv(base_path + 'gds_d.csv')

# 제품 카테고리 목록: gdsclss_list_0, gdsclss_list_1
gdsclss_0 = pd.read_csv(base_path + 'gdsclss_list_0.csv')
gdsclss_1 = pd.read_csv(base_path + 'gdsclss_list_1.csv')

# 매출 데이터 마스터(장바구니 단위): tr_list_0, tr_list_1
tr_list_a = pd.read_csv(base_path + 'tr_list_a.csv')
tr_list_b = pd.read_csv(base_path + 'tr_list_b.csv')
tr_list_c = pd.read_csv(base_path + 'tr_list_c.csv')
tr_list_d = pd.read_csv(base_path + 'tr_list_d.csv')

# 매출 제품 데이터 상세: tr_dtl_list_0, tr_dtl_list_1
tr_dtl_list_a = pd.read_csv(base_path + 'tr_dtl_list_a.csv')
tr_dtl_list_b = pd.read_csv(base_path + 'tr_dtl_list_b.csv')
tr_dtl_list_c = pd.read_csv(base_path + 'tr_dtl_list_c.csv')
tr_dtl_list_d = pd.read_csv(base_path + 'tr_dtl_list_d.csv')

C:\Users\min\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\min\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (2,11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\min\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
mera = pd.merge(gds_a, tr_dtl_list_a)
mera

,CO_CD,STR_CD,PLU_CD,GDS_NM,GDS_CLSS_CD,GDS_TP_NM,VEN_CD,SAL_DT,POS_NO,TRAN_NO,...,SALE_PRC,SALE_AMT,SGDS_DC_TP_NM,SGDS_DC_PRC,SUBTOT_DC_AMT,EVT_DC_AMT,CPON_DC_AMT,SCALES_GDS_TP_NM,GDS_CPON_DC_AMT,BASKET_CPON_DC_AMT
0,1001294,12018,93682091,스니커즈피넛싱글,11509,일반,0,20210904,04,428,...,1100.0,1100.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
1,1001294,12018,93682091,스니커즈피넛싱글,11509,일반,0,20210907,02,341,...,1100.0,2200.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
2,1001294,12018,93682091,스니커즈피넛싱글,11509,일반,0,20210910,01,977,...,1100.0,1100.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
3,1001294,12018,93682091,스니커즈피넛싱글,11509,일반,0,20210910,01,1010,...,1100.0,1100.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
4,1001294,12018,93682091,스니커즈피넛싱글,11509,일반,0,20210910,01,1010,...,1100.0,1100.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5025004,1001294,12018,9557240204305,피시스넥스파이스,11502,일반,49,20220825,05,8,...,1200.0,2400.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
5025005,1001294,12018,9557240204305,피시스넥스파이스,11502,일반,49,20220828,03,519,...,1200.0,1200.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
5025006,1001294,12018,9557240204305,피시스넥스파이스,11502,일반,49,20220828,04,488,...,1200.0,1200.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
5025007,1001294,12018,9557240204305,피시스넥스파이스,11502,일반,49,20220828,05,276,...,1200.0,1200.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
5025008,1001294,12018,9557240204305,피시스넥스파이스,11502,일반,49,20220829,07,220,...,1200.0,1200.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0

In [4]:
merb = pd.merge(gds_b, tr_dtl_list_b)
merb

,CO_CD,STR_CD,PLU_CD,GDS_NM,GDS_CLSS_CD,GDS_TP_NM,VEN_CD,SAL_DT,POS_NO,TRAN_NO,...,SALE_PRC,SALE_AMT,SGDS_DC_TP_NM,SGDS_DC_PRC,SUBTOT_DC_AMT,EVT_DC_AMT,CPON_DC_AMT,SCALES_GDS_TP_NM,GDS_CPON_DC_AMT,BASKET_CPON_DC_AMT
0,1001739,72005,1,배송비,999999,배송료,0,20220304,02,9,...,1.0,2000.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
1,1001739,72005,1,배송비,999999,배송료,0,20220304,02,10,...,1.0,2000.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
2,1001739,72005,1,배송비,999999,배송료,0,20220304,R1,1,...,1.0,2000.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
3,1001739,72005,1,배송비,999999,배송료,0,20220304,R1,3,...,1.0,2000.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
4,1001739,72005,1801828,버드와이저(캔),10702,일반,3,20210904,1,217,...,2650.0,2650.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982486,1001739,72005,9901234001249,그린매실주통,20301,일반,30,20220607,01,393,...,13900.0,13900.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
982487,1001739,72005,9901234001249,그린매실주통,20301,일반,30,20220617,01,49,...,13900.0,13900.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
982488,1001739,72005,9901234001249,그린매실주통,20301,일반,30,20220617,01,257,...,13900.0,13900.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
982489,1001739,72005,9901234001249,그린매실주통,20301,일반,30,20220620,03,138,...,13900.0,13900.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
982490,1001739,72005,9901234001249,그린매실주통,20301,일반,30,20220625,01,356,...,13900.0,13900.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0

In [8]:
merc = pd.merge(gds_c, tr_dtl_list_c)
merc

,CO_CD,STR_CD,PLU_CD,GDS_NM,GDS_CLSS_CD,GDS_TP_NM,VEN_CD,SAL_DT,POS_NO,TRAN_NO,...,SALE_PRC,SALE_AMT,SGDS_DC_TP_NM,SGDS_DC_PRC,SUBTOT_DC_AMT,EVT_DC_AMT,CPON_DC_AMT,SCALES_GDS_TP_NM,GDS_CPON_DC_AMT,BASKET_CPON_DC_AMT
0,1001993,142011,35002,제주감굴,999999,일반,0,20210904,1,26,...,3500.0,3500.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
1,1001993,142011,41333213019,듀라셀D,999999,일반,0,20210903,1,12,...,6500.0,6500.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
2,1001993,142011,41333213019,듀라셀D,999999,일반,0,20210906,1,36,...,6000.0,6000.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
3,1001993,142011,41333213019,듀라셀D,999999,일반,0,20210906,1,37,...,6000.0,6000.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
4,1001993,142011,41333213019,듀라셀D,999999,일반,0,20210908,1,60,...,6000.0,6000.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91855,1001993,142011,9556486800210,망고푸딩,999999,일반,9999,20220809,1,105,...,3500.0,3500.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
91856,1001993,142011,9556486800210,망고푸딩,999999,일반,9999,20220810,1,22,...,3500.0,3500.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
91857,1001993,142011,9556486800210,망고푸딩,999999,일반,9999,20220812,1,101,...,3500.0,3500.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
91858,1001993,142011,9556486800210,망고푸딩,999999,일반,9999,20220827,1,58,...,3500.0,3500.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
91859,1001993,142011,9556486800210,망고푸딩,999999,일반,9999,20220828,1,73,...,3500.0,3500.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0

In [9]:
merd = pd.merge(gds_d, tr_dtl_list_d)
merd

,CO_CD,STR_CD,PLU_CD,GDS_NM,GDS_CLSS_CD,GDS_TP_NM,VEN_CD,SAL_DT,POS_NO,TRAN_NO,...,SALE_PRC,SALE_AMT,SGDS_DC_TP_NM,SGDS_DC_PRC,SUBTOT_DC_AMT,EVT_DC_AMT,CPON_DC_AMT,SCALES_GDS_TP_NM,GDS_CPON_DC_AMT,BASKET_CPON_DC_AMT
0,1002056,168009,0,동태,898989,일반,1,20220209,1,203,...,4500.0,4500.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
1,1002056,168009,0,간고등어,898989,일반,1,20220209,1,203,...,4500.0,4500.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
2,1002056,168009,30900010991,스티링치즈,999999,일반,1,20220723,1,34,...,1200.0,1200.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
3,1002056,168009,30900010991,스티링치즈,999999,일반,1,20220819,1,341,...,1200.0,4800.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
4,1002056,168009,30900011493,제)스쿨초이스저지방치즈23g,999999,일반,1,20220901,1,229,...,1200.0,1200.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280153,1002056,168009,9803340000003,갈대비,999999,일반,34,20211007,1,36,...,4200.0,4200.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
280154,1002056,168009,9803340000003,갈대비,999999,일반,34,20211102,1,284,...,4200.0,4200.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
280155,1002056,168009,9803340000003,갈대비,999999,일반,34,20220118,1,452,...,4200.0,4200.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
280156,1002056,168009,9803340000003,갈대비,999999,일반,34,20220118,1,518,...,4200.0,4200.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
280157,1002056,168009,9803340000003,갈대비,999999,일반,34,20220316,1,20,...,4200.0,4200.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0

In [7]:
merab = pd.concat([mera, merb], axis = 0)
merab

,CO_CD,STR_CD,PLU_CD,GDS_NM,GDS_CLSS_CD,GDS_TP_NM,VEN_CD,SAL_DT,POS_NO,TRAN_NO,...,SALE_PRC,SALE_AMT,SGDS_DC_TP_NM,SGDS_DC_PRC,SUBTOT_DC_AMT,EVT_DC_AMT,CPON_DC_AMT,SCALES_GDS_TP_NM,GDS_CPON_DC_AMT,BASKET_CPON_DC_AMT
0,1001294,12018,93682091,스니커즈피넛싱글,11509,일반,0,20210904,04,428,...,1100.0,1100.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
1,1001294,12018,93682091,스니커즈피넛싱글,11509,일반,0,20210907,02,341,...,1100.0,2200.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
2,1001294,12018,93682091,스니커즈피넛싱글,11509,일반,0,20210910,01,977,...,1100.0,1100.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
3,1001294,12018,93682091,스니커즈피넛싱글,11509,일반,0,20210910,01,1010,...,1100.0,1100.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
4,1001294,12018,93682091,스니커즈피넛싱글,11509,일반,0,20210910,01,1010,...,1100.0,1100.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982486,1001739,72005,9901234001249,그린매실주통,20301,일반,30,20220607,01,393,...,13900.0,13900.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
982487,1001739,72005,9901234001249,그린매실주통,20301,일반,30,20220617,01,49,...,13900.0,13900.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
982488,1001739,72005,9901234001249,그린매실주통,20301,일반,30,20220617,01,257,...,13900.0,13900.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
982489,1001739,72005,9901234001249,그린매실주통,20301,일반,30,20220620,03,138,...,13900.0,13900.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
982490,1001739,72005,9901234001249,그린매실주통,20301,일반,30,20220625,01,356,...,13900.0,13900.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0

In [10]:
merabc = pd.concat([merab, merc], axis = 0)
merabc

,CO_CD,STR_CD,PLU_CD,GDS_NM,GDS_CLSS_CD,GDS_TP_NM,VEN_CD,SAL_DT,POS_NO,TRAN_NO,...,SALE_PRC,SALE_AMT,SGDS_DC_TP_NM,SGDS_DC_PRC,SUBTOT_DC_AMT,EVT_DC_AMT,CPON_DC_AMT,SCALES_GDS_TP_NM,GDS_CPON_DC_AMT,BASKET_CPON_DC_AMT
0,1001294,12018,93682091,스니커즈피넛싱글,11509,일반,0,20210904,04,428,...,1100.0,1100.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
1,1001294,12018,93682091,스니커즈피넛싱글,11509,일반,0,20210907,02,341,...,1100.0,2200.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
2,1001294,12018,93682091,스니커즈피넛싱글,11509,일반,0,20210910,01,977,...,1100.0,1100.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
3,1001294,12018,93682091,스니커즈피넛싱글,11509,일반,0,20210910,01,1010,...,1100.0,1100.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
4,1001294,12018,93682091,스니커즈피넛싱글,11509,일반,0,20210910,01,1010,...,1100.0,1100.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91855,1001993,142011,9556486800210,망고푸딩,999999,일반,9999,20220809,1,105,...,3500.0,3500.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
91856,1001993,142011,9556486800210,망고푸딩,999999,일반,9999,20220810,1,22,...,3500.0,3500.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
91857,1001993,142011,9556486800210,망고푸딩,999999,일반,9999,20220812,1,101,...,3500.0,3500.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
91858,1001993,142011,9556486800210,망고푸딩,999999,일반,9999,20220827,1,58,...,3500.0,3500.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
91859,1001993,142011,9556486800210,망고푸딩,999999,일반,9999,20220828,1,73,...,3500.0,3500.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0

In [11]:
merabcd = pd.concat([merabc, merd], axis = 0)
merabcd

,CO_CD,STR_CD,PLU_CD,GDS_NM,GDS_CLSS_CD,GDS_TP_NM,VEN_CD,SAL_DT,POS_NO,TRAN_NO,...,SALE_PRC,SALE_AMT,SGDS_DC_TP_NM,SGDS_DC_PRC,SUBTOT_DC_AMT,EVT_DC_AMT,CPON_DC_AMT,SCALES_GDS_TP_NM,GDS_CPON_DC_AMT,BASKET_CPON_DC_AMT
0,1001294,12018,93682091,스니커즈피넛싱글,11509,일반,0,20210904,04,428,...,1100.0,1100.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
1,1001294,12018,93682091,스니커즈피넛싱글,11509,일반,0,20210907,02,341,...,1100.0,2200.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
2,1001294,12018,93682091,스니커즈피넛싱글,11509,일반,0,20210910,01,977,...,1100.0,1100.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
3,1001294,12018,93682091,스니커즈피넛싱글,11509,일반,0,20210910,01,1010,...,1100.0,1100.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
4,1001294,12018,93682091,스니커즈피넛싱글,11509,일반,0,20210910,01,1010,...,1100.0,1100.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280153,1002056,168009,9803340000003,갈대비,999999,일반,34,20211007,1,36,...,4200.0,4200.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
280154,1002056,168009,9803340000003,갈대비,999999,일반,34,20211102,1,284,...,4200.0,4200.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
280155,1002056,168009,9803340000003,갈대비,999999,일반,34,20220118,1,452,...,4200.0,4200.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
280156,1002056,168009,9803340000003,갈대비,999999,일반,34,20220118,1,518,...,4200.0,4200.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
280157,1002056,168009,9803340000003,갈대비,999999,일반,34,20220316,1,20,...,4200.0,4200.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0

In [12]:
merabcd.columns

Index(['CO_CD', 'STR_CD', 'PLU_CD', 'GDS_NM', 'GDS_CLSS_CD', 'GDS_TP_NM',
       'VEN_CD', 'SAL_DT', 'POS_NO', 'TRAN_NO', 'SEQ_NO', 'DESI_CNCL_TP_NM',
       'SALE_RTN_SGN', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT', 'SGDS_DC_TP_NM',
       'SGDS_DC_PRC', 'SUBTOT_DC_AMT', 'EVT_DC_AMT', 'CPON_DC_AMT',
       'SCALES_GDS_TP_NM', 'GDS_CPON_DC_AMT', 'BASKET_CPON_DC_AMT'],
      dtype='object')

In [13]:
df = merabcd[['SAL_DT', 'PLU_CD', 'GDS_NM', 'GDS_CLSS_CD', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]
df

,SAL_DT,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_QTY,SALE_PRC,SALE_AMT
0,20210904,93682091,스니커즈피넛싱글,11509,1.0,1100.0,1100.0
1,20210907,93682091,스니커즈피넛싱글,11509,2.0,1100.0,2200.0
2,20210910,93682091,스니커즈피넛싱글,11509,1.0,1100.0,1100.0
3,20210910,93682091,스니커즈피넛싱글,11509,1.0,1100.0,1100.0
4,20210910,93682091,스니커즈피넛싱글,11509,1.0,1100.0,1100.0
...,...,...,...,...,...,...,...
280153,20211007,9803340000003,갈대비,999999,1.0,4200.0,4200.0
280154,20211102,9803340000003,갈대비,999999,1.0,4200.0,4200.0
280155,20220118,9803340000003,갈대비,999999,1.0,4200.0,4200.0
280156,20220118,9803340000003,갈대비,999999,1.0,4200.0,4200.0
280157,20220316,9803340000003,갈대비,999999,1.0,4200.0,4200.0

In [15]:
df['GDS_NM'].value_counts().head(50)

재사용봉투(20L)          142588
*대파 1단               64797
배달봉투                 58278
재사용봉투 -20L           43381
*깻잎(4묶음)/봉           39566
*백오이 1개              38043
흙당근                  33622
서울 우유                31897
적상추 1봉/비닐            30126
*청양고추(소)             29863
*인큐애호박 2개(행사)        29194
*느타리버섯 1팩            27791
감자                   25504
토속대란 1판              25339
처음처럼                 23676
팽이버섯 1봉              21810
*양파(중) 1망            20836
남양 맛있는우유GT기획         20793
참이슬후레쉬               20682
*새송이버섯 1봉            19874
*청상추 1봉              19477
CJ 양념이잘배는찌개두부        19281
*쌈배추(알배기) 1통         18448
*가지 5입/봉             18322
*새송이버섯 2봉/1인2봉한정     18112
*부추 1단               17921
야채                   17847
국내산돈앞다리살             17693
대림 신선한콩나물            17666
*시금치 1단              17367
*부사사과/6개             16911
쌀소성주                 16844
*백오이 3개              16698
*추부깻잎 1봉             16621
*무우 1개(봉)(투명비닐)      16447
풀무원 씻어나온콩나물          15358
농심 신라면 멀티            15282
*파프리카/1개             14917
토속특란 1판              14350
*양파(특대)/1망           14146
대림 부산얇은사각어묵          13945
바나나                  13385
남양 이오기획              13363
국내산돈삼겹살              13265
*(빨강)대추방울토마토/1팩      13125
*양배추 1통              12753
청정원 숨쉬는전통콩나물         12737
한우양지국거리              12673
*인큐애호박 1개            12527
*포기상추 1봉             12512
Name: GDS_NM, dtype: int64

In [17]:
df['GDS_NM']= df['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)
df['GDS_NM']

<ipython-input-17-c86b612a67bc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['GDS_NM']= df['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

0         스니커즈피넛싱글
1         스니커즈피넛싱글
2         스니커즈피넛싱글
3         스니커즈피넛싱글
4         스니커즈피넛싱글
            ...
280153         갈대비
280154         갈대비
280155         갈대비
280156         갈대비
280157         갈대비
Name: GDS_NM, Length: 6379518, dtype: object

In [18]:
df

,SAL_DT,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_QTY,SALE_PRC,SALE_AMT
0,20210904,93682091,스니커즈피넛싱글,11509,1.0,1100.0,1100.0
1,20210907,93682091,스니커즈피넛싱글,11509,2.0,1100.0,2200.0
2,20210910,93682091,스니커즈피넛싱글,11509,1.0,1100.0,1100.0
3,20210910,93682091,스니커즈피넛싱글,11509,1.0,1100.0,1100.0
4,20210910,93682091,스니커즈피넛싱글,11509,1.0,1100.0,1100.0
...,...,...,...,...,...,...,...
280153,20211007,9803340000003,갈대비,999999,1.0,4200.0,4200.0
280154,20211102,9803340000003,갈대비,999999,1.0,4200.0,4200.0
280155,20220118,9803340000003,갈대비,999999,1.0,4200.0,4200.0
280156,20220118,9803340000003,갈대비,999999,1.0,4200.0,4200.0
280157,20220316,9803340000003,갈대비,999999,1.0,4200.0,4200.0

In [19]:
df['GDS_NM'].value_counts().head(50)

재사용봉투 20L           142588
 대파 1단               64797
배달봉투                 58278
재사용봉투  20L           43381
 깻잎 4묶음  봉           39566
 백오이 1개              38043
흙당근                  33622
서울 우유                31897
적상추 1봉 비닐            30126
 청양고추 소              29863
 인큐애호박 2개 행사         29194
 느타리버섯 1팩            27791
감자                   25504
토속대란 1판              25339
처음처럼                 23676
남양 맛있는우유GT기획         21838
팽이버섯 1봉              21810
 양파 중  1망            20836
참이슬후레쉬               20682
 새송이버섯 1봉            19874
 청상추 1봉              19477
CJ 양념이잘배는찌개두부        19281
 쌈배추 알배기  1통         18448
 가지 5입 봉             18322
 새송이버섯 2봉 1인2봉한정     18112
 부추 1단               17921
야채                   17847
국내산돈앞다리살             17693
대림 신선한콩나물            17666
 시금치 1단              17367
 부사사과 6개             16911
쌀소성주                 16844
 백오이 3개              16698
 추부깻잎 1봉             16621
 무우 1개 봉  투명비닐       16447
풀무원 씻어나온콩나물          15358
농심 신라면 멀티            15282
 파프리카 1개             14917
토속특란 1판              14350
 양파 특대  1망           14146
대림 부산얇은사각어묵          13945
바나나                  13385
남양 이오기획              13363
국내산돈삼겹살              13265
  빨강 대추방울토마토 1팩      13125
 포기상추 1봉             12944
 양배추 1통              12753
청정원 숨쉬는전통콩나물         12737
한우양지국거리              12673
 인큐애호박 1개            12527
Name: GDS_NM, dtype: int64

In [20]:
df['GDS_NM'] = df['GDS_NM'].str.replace(" ", "")

<ipython-input-20-267e6867c0f7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['GDS_NM'] = df['GDS_NM'].str.replace(" ", "")

In [21]:
df

,SAL_DT,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_QTY,SALE_PRC,SALE_AMT
0,20210904,93682091,스니커즈피넛싱글,11509,1.0,1100.0,1100.0
1,20210907,93682091,스니커즈피넛싱글,11509,2.0,1100.0,2200.0
2,20210910,93682091,스니커즈피넛싱글,11509,1.0,1100.0,1100.0
3,20210910,93682091,스니커즈피넛싱글,11509,1.0,1100.0,1100.0
4,20210910,93682091,스니커즈피넛싱글,11509,1.0,1100.0,1100.0
...,...,...,...,...,...,...,...
280153,20211007,9803340000003,갈대비,999999,1.0,4200.0,4200.0
280154,20211102,9803340000003,갈대비,999999,1.0,4200.0,4200.0
280155,20220118,9803340000003,갈대비,999999,1.0,4200.0,4200.0
280156,20220118,9803340000003,갈대비,999999,1.0,4200.0,4200.0
280157,20220316,9803340000003,갈대비,999999,1.0,4200.0,4200.0

In [22]:
df['GDS_NM'].value_counts().head(50)

재사용봉투20L         185969
대파1단              64797
배달봉투              58278
깻잎4묶음봉            39566
백오이1개             38043
흙당근               33622
서울우유              33237
적상추1봉비닐           30126
청양고추소             29863
인큐애호박2개행사         29194
느타리버섯1팩           27791
감자                25546
토속대란1판            25339
처음처럼              23676
남양맛있는우유GT기획       21838
팽이버섯1봉            21810
양파중1망             20836
참이슬후레쉬            20682
새송이버섯1봉           19874
인큐애호박1개           19733
청상추1봉             19477
CJ양념이잘배는찌개두부      19281
쌈배추알배기1통          18448
가지5입봉             18322
새송이버섯2봉1인2봉한정     18112
부추1단              17921
야채                17847
국내산돈앞다리살          17693
대림신선한콩나물          17666
시금치1단             17426
부사사과6개            17066
쌀소성주              16844
백오이3개             16698
추부깻잎1봉            16641
무우1개봉투명비닐         16447
풀무원씻어나온콩나물        15358
농심신라면멀티           15282
파프리카1개            14917
토속특란1판            14350
양파특대1망            14146
대림부산얇은사각어묵        13945
바나나               13385
남양이오기획            13363
빨강대추방울토마토1팩       13329
국내산돈삼겹살           13265
포기상추1봉            12944
양배추1통             12753
청정원숨쉬는전통콩나물       12737
한우양지국거리           12673
청경채               12564
Name: GDS_NM, dtype: int64

In [23]:
df.to_csv('df1009.csv', index=False)