In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

base_path = ''

In [2]:
gds = pd.read_csv(base_path + 'gds.csv')

trdtl = pd.read_csv(base_path + 'trdtl.csv')

C:\Users\min\AppData\Local\Temp\ipykernel_5144\2456377775.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  gds = pd.read_csv(base_path + 'gds.csv')
C:\Users\min\AppData\Local\Temp\ipykernel_5144\2456377775.py:3: DtypeWarning: Columns (2,8) have mixed types. Specify dtype option on import or set low_memory=False.
  trdtl = pd.read_csv(base_path + 'trdtl.csv')

In [3]:
gds['STR_CD'].value_counts() # 16 개 마트.

12018     144455
142011     97374
72005      61128
145002     51695
164050     48370
216008     43885
168009     42869
75008      40425
156013     38382
150009     33949
194001     30400
201001     26825
156011     26657
363004     24897
156012     22331
227003     10725
Name: STR_CD, dtype: int64

In [4]:
gds.STR_CD = gds.STR_CD.astype('str')

In [5]:
trdtl.STR_CD = trdtl.STR_CD.astype('str')

In [6]:
m142011 = gds[gds.STR_CD == '142011']

In [7]:
m142011

,CO_CD,STR_CD,PLU_CD,GDS_NM,GDS_CLSS_CD,GDS_TP_NM,VEN_CD
457566,1001993,142011,0,종랑제75ㄴ,999999.0,일반,0
457567,1001993,142011,1,배송비,999999.0,배송료,0
457568,1001993,142011,2,사은행사쿠폰,999999.0,배송료,0
457569,1001993,142011,12003,얼음물,999999.0,일반,0
457570,1001993,142011,22002,써니텐=사이다,999999.0,일반,0
...,...,...,...,...,...,...,...
722974,1001993,142011,97059582,약초갱이,999999.0,일반,9999
722975,1001993,142011,97059585,약초갱이,999999.0,일반,9999
722976,1001993,142011,97159490,약초갱이,999999.0,일반,9999
722977,1001993,142011,97159599,약초갱이(3발),999999.0,일반,9999
722978,1001993,142011,9788087049099,쿨토시(국방색),20101.0,일반,9094

In [8]:
gds_0 = pd.read_csv(base_path + 'gds_list_0_ansi.csv', encoding='ANSI')
gds_1 = pd.read_csv(base_path + 'gds_list_1_ansi.csv', encoding='ANSI')

C:\Users\min\AppData\Local\Temp\ipykernel_5144\2957116520.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  gds_0 = pd.read_csv(base_path + 'gds_list_0_ansi.csv', encoding='ANSI')

In [9]:
tr_dtl_list_0 = pd.read_csv(base_path + 'tr_dtl_list_0_ansi.csv', encoding='ANSI')
tr_dtl_list_1 = pd.read_csv(base_path + 'tr_dtl_list_1_ansi.csv', encoding='ANSI')

C:\Users\min\AppData\Local\Temp\ipykernel_5144\3392446178.py:1: DtypeWarning: Columns (2,8) have mixed types. Specify dtype option on import or set low_memory=False.
  tr_dtl_list_0 = pd.read_csv(base_path + 'tr_dtl_list_0_ansi.csv', encoding='ANSI')
C:\Users\min\AppData\Local\Temp\ipykernel_5144\3392446178.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  tr_dtl_list_1 = pd.read_csv(base_path + 'tr_dtl_list_1_ansi.csv', encoding='ANSI')

In [10]:
gds_0

,CO_CD,STR_CD,PLU_CD,GDS_NM,GDS_CLSS_CD,GDS_TP_NM,VEN_CD
0,1001294,12018,1,배송비,809999.0,일반,0
1,1001294,12018,2,사은행사쿠폰,999999.0,배송료,0
2,1001294,12018,91770,코지유리물병,93331.0,일반,0
3,1001294,12018,91770,크지물병,91701.0,일반,0
4,1001294,12018,50390427,POM석류,12579.0,일반,0
...,...,...,...,...,...,...,...
457561,1002117,363004,9556437014116,망고푸딩,22799.0,일반,106
457562,1002117,363004,9556995200068,매직쿠키/블루베리,22799.0,일반,55
457563,1002117,363004,9556995200075,매직쿠키/딸기잼,22799.0,일반,55
457564,1002117,363004,9654955092,돌)황도슬라이스,20599.0,일반,14004
457565,1002117,363004,9788087049099,탑쿨토시(일반형),110499.0,일반,44

In [11]:
gds_1

,CO_CD,STR_CD,PLU_CD,GDS_NM,GDS_CLSS_CD,GDS_TP_NM,VEN_CD
0,1001993,142011,0,종랑제75ㄴ,999999,일반,0
1,1001993,142011,1,배송비,999999,배송료,0
2,1001993,142011,2,사은행사쿠폰,999999,배송료,0
3,1001993,142011,12003,얼음물,999999,일반,0
4,1001993,142011,22002,써니텐=사이다,999999,일반,0
...,...,...,...,...,...,...,...
114061,1002150,216008,9800412000541,보리건빵3번들,999999,일반,90063
114062,1002150,216008,9804964550028,강력방글집게2호,999999,일반,10084
114063,1002150,216008,9900000002091,노끈 동태(대),999999,일반,1000
114064,1002150,216008,9900000002107,노끈 동태(소),999999,일반,1000
114065,1002150,216008,9900000003401,로얄카드 인지(녹색),999999,일반,1000

In [12]:
tr_dtl_list_0

,SAL_DT,STR_CD,POS_NO,TRAN_NO,SEQ_NO,DESI_CNCL_TP_NM,SALE_RTN_SGN,PLU_CD,GDS_CLSS_CD,SALE_QTY,SALE_PRC,SALE_AMT,SGDS_DC_TP_NM,SGDS_DC_PRC,SUBTOT_DC_AMT,EVT_DC_AMT,CPON_DC_AMT,SCALES_GDS_TP_NM,GDS_CPON_DC_AMT,BASKET_CPON_DC_AMT
0,20201220,12018,1,24,1,전체취소,1,2908990004313,30101.0,1.0,1500.0,1500.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
1,20201220,12018,1,25,1,정상판매,1,2908990003422,30499.0,1.0,18900.0,18900.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
2,20201220,12018,1,25,2,정상판매,1,2908990008472,30702.0,1.0,2980.0,2980.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
3,20201220,12018,1,26,1,정상판매,-1,2908990003422,30499.0,1.0,18900.0,18900.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
4,20201220,12018,1,26,2,정상판매,-1,2908990008472,30702.0,1.0,2980.0,2980.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24084721,20220930,363004,R1,1,2,정상판매,1,8801007980706,21699.0,1.0,6980.0,6500.0,할인특매,480.0,0.0,0.0,0.0,일반,0.0,0.0
24084722,20220930,363004,R1,1,3,정상판매,1,8801043014830,20299.0,1.0,4480.0,4480.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0
24084723,20220930,363004,R1,1,4,정상판매,1,8801043015684,20299.0,1.0,6200.0,5800.0,할인특매,400.0,0.0,0.0,0.0,일반,0.0,0.0
24084724,20220930,363004,R1,1,5,정상판매,1,8801073210776,20299.0,1.0,1200.0,1200.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0
24084725,20220930,363004,R1,1,10001,정상판매,1,499800000001,NaN,1.0,4380.0,4380.0,정상,0.0,0.0,0.0,0.0,일반,0.0,4380.0

In [13]:
tr_dtl_list_1

,SAL_DT,STR_CD,POS_NO,TRAN_NO,SEQ_NO,DESI_CNCL_TP_NM,SALE_RTN_SGN,PLU_CD,GDS_CLSS_CD,SALE_QTY,SALE_PRC,SALE_AMT,SGDS_DC_TP_NM,SGDS_DC_PRC,SUBTOT_DC_AMT,EVT_DC_AMT,CPON_DC_AMT,SCALES_GDS_TP_NM,GDS_CPON_DC_AMT,BASKET_CPON_DC_AMT
0,20210805,142011,1,4,1,전체취소,1,8801007792316,999999.0,1.0,1400.0,1400.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
1,20210805,142011,1,5,1,전체취소,1,8801007792316,999999.0,1.0,1400.0,1400.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
2,20210805,142011,1,8,1,전체취소,1,2051860025007,999999.0,1.0,2500.0,2500.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
3,20210805,142011,1,9,1,정상판매,1,8801068086867,999999.0,1.0,3500.0,3500.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
4,20210805,142011,1,9,2,정상판매,1,8809042194478,999999.0,1.0,3500.0,3500.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
891789,20220930,216008,R1,1,6,정상판매,1,8801045220529,999999.0,1.0,6100.0,6100.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0
891790,20220930,216008,R1,1,7,지정취소,1,8801062335701,11211.0,0.0,650.0,0.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0
891791,20220930,216008,R1,1,8,정상판매,1,8801117686505,11211.0,1.0,2980.0,2980.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0
891792,20220930,216008,R1,1,9,정상판매,1,8801121020968,11103.0,1.0,4700.0,4700.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0
891793,20220930,216008,R1,1,10,정상판매,1,8809446360295,10199.0,1.0,1500.0,1500.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0

In [14]:
gds_0['STR_CD'].value_counts()

12018     72308
145002    51695
164050    48370
75008     40425
156013    38382
150009    33949
72005     30602
194001    30400
201001    26825
156011    26657
363004    24897
156012    22331
227003    10725
Name: STR_CD, dtype: int64

In [15]:
gds_1['STR_CD'].value_counts()

142011    48700
216008    43885
168009    21481
Name: STR_CD, dtype: int64

In [16]:
tr_dtl_list_0['STR_CD'].value_counts()

12018     9525019
75008     2206171
156012    2014883
156013    1905868
156011    1792090
150009    1692991
72005     1341056
145002     951533
201001     621373
227003     614530
164050     590741
363004     416945
194001     411526
Name: STR_CD, dtype: int64

In [17]:
tr_dtl_list_1['STR_CD'].value_counts()

216008    482272
168009    302915
142011    106607
Name: STR_CD, dtype: int64

In [18]:
gds_2 = pd.concat([gds_0, gds_1])
gds_2

,CO_CD,STR_CD,PLU_CD,GDS_NM,GDS_CLSS_CD,GDS_TP_NM,VEN_CD
0,1001294,12018,1,배송비,809999.0,일반,0
1,1001294,12018,2,사은행사쿠폰,999999.0,배송료,0
2,1001294,12018,91770,코지유리물병,93331.0,일반,0
3,1001294,12018,91770,크지물병,91701.0,일반,0
4,1001294,12018,50390427,POM석류,12579.0,일반,0
...,...,...,...,...,...,...,...
114061,1002150,216008,9800412000541,보리건빵3번들,999999.0,일반,90063
114062,1002150,216008,9804964550028,강력방글집게2호,999999.0,일반,10084
114063,1002150,216008,9900000002091,노끈 동태(대),999999.0,일반,1000
114064,1002150,216008,9900000002107,노끈 동태(소),999999.0,일반,1000
114065,1002150,216008,9900000003401,로얄카드 인지(녹색),999999.0,일반,1000

In [19]:
# gds_2.to_csv('gds1014.csv', index=False)

In [20]:
tr_dtl_list_2 = pd.concat([tr_dtl_list_0, tr_dtl_list_1])
tr_dtl_list_2

,SAL_DT,STR_CD,POS_NO,TRAN_NO,SEQ_NO,DESI_CNCL_TP_NM,SALE_RTN_SGN,PLU_CD,GDS_CLSS_CD,SALE_QTY,SALE_PRC,SALE_AMT,SGDS_DC_TP_NM,SGDS_DC_PRC,SUBTOT_DC_AMT,EVT_DC_AMT,CPON_DC_AMT,SCALES_GDS_TP_NM,GDS_CPON_DC_AMT,BASKET_CPON_DC_AMT
0,20201220,12018,1,24,1,전체취소,1,2908990004313,30101.0,1.0,1500.0,1500.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
1,20201220,12018,1,25,1,정상판매,1,2908990003422,30499.0,1.0,18900.0,18900.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
2,20201220,12018,1,25,2,정상판매,1,2908990008472,30702.0,1.0,2980.0,2980.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
3,20201220,12018,1,26,1,정상판매,-1,2908990003422,30499.0,1.0,18900.0,18900.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
4,20201220,12018,1,26,2,정상판매,-1,2908990008472,30702.0,1.0,2980.0,2980.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
891789,20220930,216008,R1,1,6,정상판매,1,8801045220529,999999.0,1.0,6100.0,6100.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0
891790,20220930,216008,R1,1,7,지정취소,1,8801062335701,11211.0,0.0,650.0,0.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0
891791,20220930,216008,R1,1,8,정상판매,1,8801117686505,11211.0,1.0,2980.0,2980.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0
891792,20220930,216008,R1,1,9,정상판매,1,8801121020968,11103.0,1.0,4700.0,4700.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0
891793,20220930,216008,R1,1,10,정상판매,1,8809446360295,10199.0,1.0,1500.0,1500.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0

In [21]:
# tr_dtl_list_2.to_csv('trdtl1014.csv', index=False)

In [22]:
gds2 = pd.read_csv(base_path + 'gds1014.csv')

C:\Users\min\AppData\Local\Temp\ipykernel_5144\1429729020.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  gds2 = pd.read_csv(base_path + 'gds1014.csv')

In [23]:
trdtl2 = pd.read_csv(base_path + 'trdtl1014.csv')

C:\Users\min\AppData\Local\Temp\ipykernel_5144\2878494665.py:1: DtypeWarning: Columns (2,8) have mixed types. Specify dtype option on import or set low_memory=False.
  trdtl2 = pd.read_csv(base_path + 'trdtl1014.csv')

In [24]:
gds2

,CO_CD,STR_CD,PLU_CD,GDS_NM,GDS_CLSS_CD,GDS_TP_NM,VEN_CD
0,1001294,12018,1,배송비,809999.0,일반,0
1,1001294,12018,2,사은행사쿠폰,999999.0,배송료,0
2,1001294,12018,91770,코지유리물병,93331.0,일반,0
3,1001294,12018,91770,크지물병,91701.0,일반,0
4,1001294,12018,50390427,POM석류,12579.0,일반,0
...,...,...,...,...,...,...,...
571627,1002150,216008,9800412000541,보리건빵3번들,999999.0,일반,90063
571628,1002150,216008,9804964550028,강력방글집게2호,999999.0,일반,10084
571629,1002150,216008,9900000002091,노끈 동태(대),999999.0,일반,1000
571630,1002150,216008,9900000002107,노끈 동태(소),999999.0,일반,1000
571631,1002150,216008,9900000003401,로얄카드 인지(녹색),999999.0,일반,1000

In [25]:
trdtl2

,SAL_DT,STR_CD,POS_NO,TRAN_NO,SEQ_NO,DESI_CNCL_TP_NM,SALE_RTN_SGN,PLU_CD,GDS_CLSS_CD,SALE_QTY,SALE_PRC,SALE_AMT,SGDS_DC_TP_NM,SGDS_DC_PRC,SUBTOT_DC_AMT,EVT_DC_AMT,CPON_DC_AMT,SCALES_GDS_TP_NM,GDS_CPON_DC_AMT,BASKET_CPON_DC_AMT
0,20201220,12018,1,24,1,전체취소,1,2908990004313,30101.0,1.0,1500.0,1500.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
1,20201220,12018,1,25,1,정상판매,1,2908990003422,30499.0,1.0,18900.0,18900.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
2,20201220,12018,1,25,2,정상판매,1,2908990008472,30702.0,1.0,2980.0,2980.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
3,20201220,12018,1,26,1,정상판매,-1,2908990003422,30499.0,1.0,18900.0,18900.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
4,20201220,12018,1,26,2,정상판매,-1,2908990008472,30702.0,1.0,2980.0,2980.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24976515,20220930,216008,R1,1,6,정상판매,1,8801045220529,999999.0,1.0,6100.0,6100.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0
24976516,20220930,216008,R1,1,7,지정취소,1,8801062335701,11211.0,0.0,650.0,0.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0
24976517,20220930,216008,R1,1,8,정상판매,1,8801117686505,11211.0,1.0,2980.0,2980.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0
24976518,20220930,216008,R1,1,9,정상판매,1,8801121020968,11103.0,1.0,4700.0,4700.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0
24976519,20220930,216008,R1,1,10,정상판매,1,8809446360295,10199.0,1.0,1500.0,1500.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0

In [26]:
gds2.STR_CD = gds2.STR_CD.astype('str')

In [27]:
trdtl2.STR_CD = trdtl2.STR_CD.astype('str')

In [28]:
gds2['STR_CD'].value_counts()

12018     72308
145002    51695
142011    48700
164050    48370
216008    43885
75008     40425
156013    38382
150009    33949
72005     30602
194001    30400
201001    26825
156011    26657
363004    24897
156012    22331
168009    21481
227003    10725
Name: STR_CD, dtype: int64

In [29]:
trdtl2['STR_CD'].value_counts()

12018     9525019
75008     2206171
156012    2014883
156013    1905868
156011    1792090
150009    1692991
72005     1341056
145002     951533
201001     621373
227003     614530
164050     590741
216008     482272
363004     416945
194001     411526
168009     302915
142011     106607
Name: STR_CD, dtype: int64

In [30]:
g12018 = gds2[gds2.STR_CD == '12018']
g12018

,CO_CD,STR_CD,PLU_CD,GDS_NM,GDS_CLSS_CD,GDS_TP_NM,VEN_CD
0,1001294,12018,1,배송비,809999.0,일반,0
1,1001294,12018,2,사은행사쿠폰,999999.0,배송료,0
2,1001294,12018,91770,코지유리물병,93331.0,일반,0
3,1001294,12018,91770,크지물병,91701.0,일반,0
4,1001294,12018,50390427,POM석류,12579.0,일반,0
...,...,...,...,...,...,...,...
72303,1001294,12018,9999999914157,맥 원형후라이 대(240),93330.0,일반,0
72304,1001294,12018,9999999914171,맥웰빙원후/8,93330.0,일반,0
72305,1001294,12018,9999999914393,절구 소소,91701.0,일반,0
72306,1001294,12018,9999999915079,알뜰Y투라인,91701.0,일반,0
72307,1001294,12018,9999999915833,맥 웰빙원후 7,91701.0,일반,0

In [31]:
t12018 = trdtl2[trdtl2.STR_CD == '12018']
t12018

,SAL_DT,STR_CD,POS_NO,TRAN_NO,SEQ_NO,DESI_CNCL_TP_NM,SALE_RTN_SGN,PLU_CD,GDS_CLSS_CD,SALE_QTY,SALE_PRC,SALE_AMT,SGDS_DC_TP_NM,SGDS_DC_PRC,SUBTOT_DC_AMT,EVT_DC_AMT,CPON_DC_AMT,SCALES_GDS_TP_NM,GDS_CPON_DC_AMT,BASKET_CPON_DC_AMT
0,20201220,12018,1,24,1,전체취소,1,2908990004313,30101.0,1.0,1500.0,1500.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
1,20201220,12018,1,25,1,정상판매,1,2908990003422,30499.0,1.0,18900.0,18900.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
2,20201220,12018,1,25,2,정상판매,1,2908990008472,30702.0,1.0,2980.0,2980.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
3,20201220,12018,1,26,1,정상판매,-1,2908990003422,30499.0,1.0,18900.0,18900.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
4,20201220,12018,1,26,2,정상판매,-1,2908990008472,30702.0,1.0,2980.0,2980.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9525014,20220930,12018,R1,3,3,정상판매,1,8801051208870,20101.0,1.0,13100.0,8400.0,할인특매,4700.0,0.0,0.0,0.0,일반,0.0,0.0
9525015,20220930,12018,R1,3,4,정상판매,1,8801101168819,20102.0,1.0,7480.0,7480.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0
9525016,20220930,12018,R1,3,5,정상판매,1,8809279800555,20105.0,2.0,1680.0,3360.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0
9525017,20220930,12018,R1,3,6,정상판매,1,8809685740544,20201.0,1.0,10800.0,10800.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0
9525018,20220930,12018,R1,3,7,정상판매,1,8809685740551,20201.0,1.0,10800.0,10800.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0

In [32]:
gt12018 = pd.merge(g12018, t12018, on='PLU_CD', how='inner')
gt12018

,CO_CD,STR_CD_x,PLU_CD,GDS_NM,GDS_CLSS_CD_x,GDS_TP_NM,VEN_CD,SAL_DT,STR_CD_y,POS_NO,...,SALE_PRC,SALE_AMT,SGDS_DC_TP_NM,SGDS_DC_PRC,SUBTOT_DC_AMT,EVT_DC_AMT,CPON_DC_AMT,SCALES_GDS_TP_NM,GDS_CPON_DC_AMT,BASKET_CPON_DC_AMT
0,1001294,12018,1,배송비,809999.0,일반,0,20220928,12018,08,...,0.0,0.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
1,1001294,12018,1,배송비,809999.0,일반,0,20220929,12018,R1,...,1.0,5000.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
2,1001294,12018,2,사은행사쿠폰,999999.0,배송료,0,20210722,12018,08,...,0.0,0.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
3,1001294,12018,93682091,스니커즈피넛싱글,11509.0,일반,0,20201222,12018,2,...,990.0,990.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
4,1001294,12018,93682091,스니커즈피넛싱글,11509.0,일반,0,20201222,12018,2,...,990.0,990.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9372284,1001294,12018,9557240204305,피시스넥스파이스,11502.0,일반,49,20220924,12018,07,...,1200.0,1200.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
9372285,1001294,12018,9557240204305,피시스넥스파이스,11502.0,일반,49,20220929,12018,01,...,1200.0,2400.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
9372286,1001294,12018,9557240204305,피시스넥스파이스,11502.0,일반,49,20220929,12018,02,...,1200.0,2400.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
9372287,1001294,12018,9557240204305,피시스넥스파이스,11502.0,일반,49,20220930,12018,05,...,1200.0,2400.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
9372288,1001294,12018,9999999004766,0 30유리뚜껑,93330.0,일반,0,20210124,12018,1,...,3800.0,3800.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0

In [33]:
gt12018.isnull().sum()

CO_CD                   0
STR_CD_x                0
PLU_CD                  0
GDS_NM                  0
GDS_CLSS_CD_x           0
GDS_TP_NM               0
VEN_CD                  0
SAL_DT                  0
STR_CD_y                0
POS_NO                  0
TRAN_NO                 0
SEQ_NO                  0
DESI_CNCL_TP_NM         0
SALE_RTN_SGN            0
GDS_CLSS_CD_y         364
SALE_QTY                0
SALE_PRC                0
SALE_AMT                0
SGDS_DC_TP_NM           0
SGDS_DC_PRC             0
SUBTOT_DC_AMT           0
EVT_DC_AMT              0
CPON_DC_AMT             0
SCALES_GDS_TP_NM        0
GDS_CPON_DC_AMT         0
BASKET_CPON_DC_AMT      0
dtype: int64

In [34]:
mart12018 = gt12018[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]
mart12018

           SAL_DT         PLU_CD    GDS_NM  SALE_QTY  SALE_PRC  SALE_AMT
0        20220928              1       배송비       1.0       0.0       0.0
1        20220929              1       배송비    5000.0       1.0    5000.0
2        20210722              2    사은행사쿠폰       1.0       0.0       0.0
3        20201222       93682091  스니커즈피넛싱글       1.0     990.0     990.0
4        20201222       93682091  스니커즈피넛싱글       1.0     990.0     990.0
...           ...            ...       ...       ...       ...       ...
9372284  20220924  9557240204305  피시스넥스파이스       1.0    1200.0    1200.0
9372285  20220929  9557240204305  피시스넥스파이스       2.0    1200.0    2400.0
9372286  20220929  9557240204305  피시스넥스파이스       2.0    1200.0    2400.0
9372287  20220930  9557240204305  피시스넥스파이스       2.0    1200.0    2400.0
9372288  20210124  9999999004766  0 30유리뚜껑       1.0    3800.0    3800.0

[9372289 rows x 6 columns]

In [35]:
mart12018.isnull().sum()

SAL_DT      0
PLU_CD      0
GDS_NM      0
SALE_QTY    0
SALE_PRC    0
SALE_AMT    0
dtype: int64

In [36]:
trdtl2['STR_CD'].value_counts()

12018     9525019
75008     2206171
156012    2014883
156013    1905868
156011    1792090
150009    1692991
72005     1341056
145002     951533
201001     621373
227003     614530
164050     590741
216008     482272
363004     416945
194001     411526
168009     302915
142011     106607
Name: STR_CD, dtype: int64

In [37]:
gds2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571632 entries, 0 to 571631
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   CO_CD        571632 non-null  int64
 1   STR_CD       571632 non-null  object
 2   PLU_CD       571632 non-null  object
 3   GDS_NM       571632 non-null  object
 4   GDS_CLSS_CD  571629 non-null  float64
 5   GDS_TP_NM    571632 non-null  object
 6   VEN_CD       571632 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 30.5+ MB

In [38]:
trdtl2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24976520 entries, 0 to 24976519
Data columns (total 20 columns):
 #   Column              Dtype
---  ------              -----
 0   SAL_DT              int64
 1   STR_CD              object
 2   POS_NO              object
 3   TRAN_NO             int64
 4   SEQ_NO              int64
 5   DESI_CNCL_TP_NM     object
 6   SALE_RTN_SGN        int64
 7   PLU_CD              int64
 8   GDS_CLSS_CD         object
 9   SALE_QTY            float64
 10  SALE_PRC            float64
 11  SALE_AMT            float64
 12  SGDS_DC_TP_NM       object
 13  SGDS_DC_PRC         float64
 14  SUBTOT_DC_AMT       float64
 15  EVT_DC_AMT          float64
 16  CPON_DC_AMT         float64
 17  SCALES_GDS_TP_NM    object
 18  GDS_CPON_DC_AMT     float64
 19  BASKET_CPON_DC_AMT  float64
dtypes: float64(9), int64(5), object(6)
memory usage: 3.7+ GB

In [39]:
gds2.PLU_CD = gds2.PLU_CD.astype('str')

In [40]:
trdtl2.PLU_CD = trdtl2.PLU_CD.astype('str')

In [41]:
g12018 = gds2[gds2.STR_CD == '12018']
t12018 = trdtl2[trdtl2.STR_CD == '12018']

g75008 = gds2[gds2.STR_CD == '75008']
t75008 = trdtl2[trdtl2.STR_CD == '75008']

g156012 = gds2[gds2.STR_CD == '156012']
t156012 = trdtl2[trdtl2.STR_CD == '156012']

g156013 = gds2[gds2.STR_CD == '156013']
t156013 = trdtl2[trdtl2.STR_CD == '156013']

g156011 = gds2[gds2.STR_CD == '156011']
t156011 = trdtl2[trdtl2.STR_CD == '156011']

g150009 = gds2[gds2.STR_CD == '150009']
t150009 = trdtl2[trdtl2.STR_CD == '150009']

g72005 = gds2[gds2.STR_CD == '72005']
t72005 = trdtl2[trdtl2.STR_CD == '72005']

g145002 = gds2[gds2.STR_CD == '145002']
t145002 = trdtl2[trdtl2.STR_CD == '145002']

g201001 = gds2[gds2.STR_CD == '201001']
t201001 = trdtl2[trdtl2.STR_CD == '201001']

g227003 = gds2[gds2.STR_CD == '227003']
t227003 = trdtl2[trdtl2.STR_CD == '227003']

g164050 = gds2[gds2.STR_CD == '164050']
t164050 = trdtl2[trdtl2.STR_CD == '164050']

g216008 = gds2[gds2.STR_CD == '216008']
t216008 = trdtl2[trdtl2.STR_CD == '216008']

g363004 = gds2[gds2.STR_CD == '363004']
t363004 = trdtl2[trdtl2.STR_CD == '363004']

g194001 = gds2[gds2.STR_CD == '194001']
t194001 = trdtl2[trdtl2.STR_CD == '194001']

g168009 = gds2[gds2.STR_CD == '168009']
t168009 = trdtl2[trdtl2.STR_CD == '168009']

g142011 = gds2[gds2.STR_CD == '142011']
t142011 = trdtl2[trdtl2.STR_CD == '142011']

---

In [42]:
gt12018 = pd.merge(g12018, t12018, on='PLU_CD', how='inner')

In [43]:
gt75008 = pd.merge(g75008, t75008, on='PLU_CD', how='inner')

In [44]:
gt156012 = pd.merge(g156012, t156012, on='PLU_CD', how='inner')

In [45]:
gt156013 = pd.merge(g156013, t156013, on='PLU_CD', how='inner')

In [46]:
gt156011 = pd.merge(g156011, t156011, on='PLU_CD', how='inner')

In [47]:
gt150009 = pd.merge(g150009, t150009, on='PLU_CD', how='inner')

In [48]:
gt72005 = pd.merge(g72005, t72005, on='PLU_CD', how='inner')

In [49]:
gt145002 = pd.merge(g145002, t145002, on='PLU_CD', how='inner')

In [50]:
gt201001 = pd.merge(g201001, t201001, on='PLU_CD', how='inner')

In [51]:
gt227003 = pd.merge(g227003, t227003, on='PLU_CD', how='inner')

In [52]:
gt164050 = pd.merge(g164050, t164050, on='PLU_CD', how='inner')

In [53]:
gt216008 = pd.merge(g216008, t216008, on='PLU_CD', how='inner')

In [54]:
gt363004 = pd.merge(g363004, t363004, on='PLU_CD', how='inner')

In [55]:
gt194001 = pd.merge(g194001, t194001, on='PLU_CD', how='inner')

In [56]:
gt168009 = pd.merge(g168009, t168009, on='PLU_CD', how='inner')

In [57]:
gt142011 = pd.merge(g142011, t142011, on='PLU_CD', how='inner')

---

In [58]:
amart = gt12018[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

In [59]:
bmart = gt72005[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

In [60]:
cmart = gt75008[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

In [61]:
dmart = gt142011[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

In [62]:
emart = gt145002[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

In [63]:
fmart = gt150009[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

In [64]:
gmart = gt156011[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

In [65]:
hmart = gt156012[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

In [66]:
imart = gt156013[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

In [67]:
jmart = gt164050[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

In [68]:
kmart = gt168009[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

In [69]:
lmart = gt194001[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

In [70]:
mmart = gt201001[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

In [71]:
nmart = gt216008[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

In [72]:
omart = gt227003[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

In [73]:
pmart = gt363004[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

---

In [74]:
amart

           SAL_DT         PLU_CD    GDS_NM  SALE_QTY  SALE_PRC  SALE_AMT
0        20220928              1       배송비       1.0       0.0       0.0
1        20220929              1       배송비    5000.0       1.0    5000.0
2        20210722              2    사은행사쿠폰       1.0       0.0       0.0
3        20201222       93682091  스니커즈피넛싱글       1.0     990.0     990.0
4        20201222       93682091  스니커즈피넛싱글       1.0     990.0     990.0
...           ...            ...       ...       ...       ...       ...
9372284  20220924  9557240204305  피시스넥스파이스       1.0    1200.0    1200.0
9372285  20220929  9557240204305  피시스넥스파이스       2.0    1200.0    2400.0
9372286  20220929  9557240204305  피시스넥스파이스       2.0    1200.0    2400.0
9372287  20220930  9557240204305  피시스넥스파이스       2.0    1200.0    2400.0
9372288  20210124  9999999004766  0 30유리뚜껑       1.0    3800.0    3800.0

[9372289 rows x 6 columns]

In [75]:
amart.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9372289 entries, 0 to 9372288
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   SAL_DT    int64
 1   PLU_CD    object
 2   GDS_NM    object
 3   SALE_QTY  float64
 4   SALE_PRC  float64
 5   SALE_AMT  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 500.5+ MB

In [93]:
amart = amart.astype({'SALE_QTY' : 'int'})

In [94]:
amart = amart.astype({'SALE_PRC' : 'int'})

In [95]:
amart = amart.astype({'SALE_AMT' : 'int'})

In [96]:
amart

           SAL_DT         PLU_CD    GDS_NM  SALE_QTY  SALE_PRC  SALE_AMT
0        20220928              1       배송비         1         0         0
1        20220929              1       배송비      5000         1      5000
2        20210722              2    사은행사쿠폰         1         0         0
3        20201222       93682091  스니커즈피넛싱글         1       990       990
4        20201222       93682091  스니커즈피넛싱글         1       990       990
...           ...            ...       ...       ...       ...       ...
9372284  20220924  9557240204305  피시스넥스파이스         1      1200      1200
9372285  20220929  9557240204305  피시스넥스파이스         2      1200      2400
9372286  20220929  9557240204305  피시스넥스파이스         2      1200      2400
9372287  20220930  9557240204305  피시스넥스파이스         2      1200      2400
9372288  20210124  9999999004766  0 30유리뚜껑         1      3800      3800

[9372289 rows x 6 columns]

In [97]:
amart.sort_values('SALE_QTY', ascending=False).head(50)

,SAL_DT,PLU_CD,GDS_NM,SALE_QTY,SALE_PRC,SALE_AMT
5748206,20210403,8801048101023,진로이즈백,9982,1350,13475700
2875733,20201220,2909441428986,가지고추 1팩,7333,2500,18332500
4733278,20211031,8801033786259,베지밀/B,7256,14800,107388800
800867,20211006,290100000045,쓰레기봉투(50L),7040,1540,10841600
1745064,20220210,2908990006065,*달래 1단,6662,1000,6662000
707281,20210811,290000000018,배달봉투,5510,40,220400
708734,20210819,290000000018,배달봉투,5510,40,220400
1,20220929,1,배송비,5000,1,5000
7829332,20210424,8801119241511,필라이트후레쉬 대캔,4848,1350,6544800
8991263,20210228,8809321870345,영양메추리알,4760,1400,6664000
3069228,20201230,2909441429280,*국내산)브로컬리 1송이(행사),4423,980,4334540
8961825,20210524,8809282141225,볶음통깨,4410,4400,19404000
2778269,20210118,2909441427316,*백오이 1개,4091,3980,16282180
8674006,20210909,8809027513348,밀대청소기리필,4080,3700,15096000
1765959,20201230,2908990006331,*대파 1단,2832,1700,4814400
8324637,20211015,8801582920067,쌀소성주,2724,1250,3405000
3356356,20210606,351003,국내산대패삼겹살,2355,11590,27294450
4143739,20210411,8801007129495,CJ 햇반기획 4입,2351,4350,10226850
7927213,20220217,8801123602117,롯데 국산햄로스팜,2295,1600,3672000
3282699,20220716,2999000034581,*꿀수박5~9kg이상/1통(행사),2000,15800,31600000
7927212,20220215,8801123602117,롯데 국산햄로스팜,1617,1600,2587200
9055582,20220217,8809398060045,펭귄 황도,1530,1500,2295000
5245867,20220217,8801045291314,오뚜기 3분쇠고기짜장,1530,1000,1530000
5261764,20220217,8801045312316,오뚜기 3분쇠고기카레,1530,1380,2111400
5739408,20220217,8801047825050,동원참치기획,1530,1700,2601000
5261765,20220217,8801045312316,오뚜기 3분쇠고기카레,1530,1000,1530000
7927204,20220125,8801123602117,롯데 국산햄로스팜,1404,1600,2246400
6986812,20211018,8801074802321,요리가맛있는당면500g,1361,2100,2858100
6986813,20211018,8801074802321,요리가맛있는당면500g,1361,2100,2858100
7927205,20220126,8801123602117,롯데 국산햄로스팜,1119,1600,1790400
9055512,20211013,8809398060045,펭귄 황도,1096,1800,1972800
5245644,20211013,8801045291314,오뚜기 3분쇠고기짜장,1096,1000,1096000
5261546,20211013,8801045312316,오뚜기 3분쇠고기카레,1096,1000,1096000
9055511,20211013,8809398060045,펭귄 황도,1096,2150,2356400
5261759,20220215,8801045312316,오뚜기 3분쇠고기카레,1078,1380,1487640
5261760,20220215,8801045312316,오뚜기 3분쇠고기카레,1078,1000,1078000
5245863,20220215,8801045291314,오뚜기 3분쇠고기짜장,1078,1000,1078000
5739406,20220215,8801047825050,동원참치기획,1078,1700,1832600
9055580,20220215,8809398060045,펭귄 황도,1078,1500,1617000
2010712,20210702,2908990006843,곱슬이콩나물 1박스,1010,2280,2302800
1453015,20220419,2908990004566,*양파(소),1000,2500,2500000
1453016,20220419,2908990004566,*양파(소),1000,2500,2500000
3024450,20220530,2909441429150,*백오이 5개,1000,1000,1000000
7927210,20220211,8801123602117,롯데 국산햄로스팜,984,1600,1574400
5261660,20211222,8801045312316,오뚜기 3분쇠고기카레,976,1000,976000
9055544,20211222,8809398060045,펭귄 황도,976,1800,1756800
5245771,20211222,8801045291314,오뚜기 3분쇠고기짜장,976,1000,976000
6041059,20211222,8801052066127,청정원 한우곰탕,976,1100,1073600
6041308,20220104,8801052066127,청정원 한우곰탕,966,1100,1062600
9055550,20220104,8809398060045,펭귄 황도,966,1800,1738800

In [98]:
amart.sort_values('SALE_PRC', ascending=False).head(50)

           SAL_DT         PLU_CD        GDS_NM  SALE_QTY   SALE_PRC   SALE_AMT
3539157  20211010         351030      국내산돈가브리살         1  351028000  351028000
1503194  20220219  2908990004702     *쥬키니호박 2개         1  351010010  351010010
3342339  20220411         351001       국내산돈삼겹살         1  351008000  351008000
3936413  20220706             88       백설더건강한햄         1  175901620  175901620
3237347  20220125  2999000033249      선물세트54세트         1    1420000    1420000
3237346  20220125  2999000033249      선물세트54세트         1    1420000    1420000
3874803  20210915         711015         한우꽃등심         2     975000    1950000
3408267  20210313         351007  국내산앞다리살/불고기용         1     906770     906770
3425049  20210721         351008   국내산앞다리살/찌개용         1     905690     905690
3874798  20210915         711015         한우꽃등심         1     900000     900000
3874801  20210915         711015         한우꽃등심         2     900000    1800000
8361877  20201220  8801759015466       칠갑 참새우젓         1     880170     880170
3893232  20210910         711062       한우양지국거리         1     850000     850000
3893230  20210910         711062       한우양지국거리         1     850000     850000
3347453  20201221         351002     국내산돈벌집삼겹살         1     816290     816290
183815   20210608         201060           청고우         1     803010     803010
3873136  20210209         711013      한우등심/살치살         1     789670     789670
227579   20211227         201122          어린채소         1     707020     707020
558138   20210319         221031          청과매입         1     705010     705010
310951   20210112         201196         섬초시금치         1     700080     700080
2513665  20210224  2908990008830          주류지원         1     700000     700000
3873143  20210310         711013      한우등심/살치살         1     698900     698900
3874051  20210405         711015         한우꽃등심         1     675410     675410
3874797  20210915         711015         한우꽃등심         1     650000     650000
3874800  20210915         711015         한우꽃등심         1     650000     650000
3898575  20220117         711062       한우양지국거리         1     627480     627480
3347556  20201228         351002     국내산돈벌집삼겹살         1     614160     614160
3912513  20210710         711100          한우잡뼈         1     606910     606910
3558161  20210428         351040        국내산돈등뼈         1     606790     606790
3479530  20210709         351014        국내산돈목살         1     605940     605940
3873140  20210226         711013      한우등심/살치살         1     600000     600000
3904576  20220824         711062       한우양지국거리         1     597000     597000
3873135  20210205         711013      한우등심/살치살         1     582900     582900
227624   20201223         201127         즙용신선초         1     565210     565210
3874799  20210915         711015         한우꽃등심         3     550000    1650000
3874804  20210915         711015         한우꽃등심        11     550000    6050000
3873128  20210120         711013      한우등심/살치살         1     540270     540270
531593   20210421         220000         마당빗자루         1     540100     540100
531592   20210421         220000         마당빗자루         1     540100     540100
531598   20220905         220000         마당빗자루         1     540030     540030
531597   20220905         220000         마당빗자루         1     540030     540030
531596   20210516         220000         마당빗자루         1     540030     540030
531595   20210516         220000         마당빗자루         1     540030     540030
531594   20210516         220000         마당빗자루         1     540030     540030
531591   20210418         220000         마당빗자루         1     540030     540030
3237348  20220125  2999000033263         과일외54         1     540000     540000
3237349  20220125  2999000033263         과일외54         1     540000     540000
3873150  20210323         711013      한우등심/살치살         1     525480     525480
3347454  20201221         351002     국내산돈벌집삼겹살         1     516290     516290
3715309  20210321         461034        차돌식우삼겹         1     511630     511630

In [99]:
amart.sort_values('SALE_AMT', ascending=False).head(50)

,SAL_DT,PLU_CD,GDS_NM,SALE_QTY,SALE_PRC,SALE_AMT
3539157,20211010,351030,국내산돈가브리살,1,351028000,351028000
1503194,20220219,2908990004702,*쥬키니호박 2개,1,351010010,351010010
3342339,20220411,351001,국내산돈삼겹살,1,351008000,351008000
3936413,20220706,88,백설더건강한햄,1,175901620,175901620
4733278,20211031,8801033786259,베지밀/B,7256,14800,107388800
3282699,20220716,2999000034581,*꿀수박5~9kg이상/1통(행사),2000,15800,31600000
3356356,20210606,351003,국내산대패삼겹살,2355,11590,27294450
8961825,20210524,8809282141225,볶음통깨,4410,4400,19404000
2875733,20201220,2909441428986,가지고추 1팩,7333,2500,18332500
2778269,20210118,2909441427316,*백오이 1개,4091,3980,16282180
8674006,20210909,8809027513348,밀대청소기리필,4080,3700,15096000
5748206,20210403,8801048101023,진로이즈백,9982,1350,13475700
800867,20211006,290100000045,쓰레기봉투(50L),7040,1540,10841600
4143739,20210411,8801007129495,CJ 햇반기획 4입,2351,4350,10226850
8859758,20211125,8809213756955,22년 햅쌀) 경기미,210,38100,8001000
8859757,20211125,8809213756955,22년 햅쌀) 경기미,210,38100,8001000
8859759,20211125,8809213756955,22년 햅쌀) 경기미,210,38100,8001000
8859760,20211125,8809213756955,22년 햅쌀) 경기미,210,38100,8001000
4216533,20210720,8801007238746,CJ 1등급목초란,562,12800,7193600
5500983,20220217,8801045890333,오뚜기 맛있는밥기획,765,9200,7038000
8991263,20210228,8809321870345,영양메추리알,4760,1400,6664000
1745064,20220210,2908990006065,*달래 1단,6662,1000,6662000
7829332,20210424,8801119241511,필라이트후레쉬 대캔,4848,1350,6544800
3874804,20210915,711015,한우꽃등심,11,550000,6050000
5500951,20211013,8801045890333,오뚜기 맛있는밥기획,548,9600,5260800
5500982,20220215,8801045890333,오뚜기 맛있는밥기획,539,9200,4958800
1765959,20201230,2908990006331,*대파 1단,2832,1700,4814400
5500966,20211222,8801045890333,오뚜기 맛있는밥기획,488,9500,4636000
5500970,20220104,8801045890333,오뚜기 맛있는밥기획,483,9500,4588500
5500956,20211130,8801045890333,오뚜기 맛있는밥기획,480,9500,4560000
8779912,20210304,8809182056094,베스트쌀,100,45800,4380000
3069228,20201230,2909441429280,*국내산)브로컬리 1송이(행사),4423,980,4334540
5500974,20220125,8801045890333,오뚜기 맛있는밥기획,468,9200,4305600
5500965,20211221,8801045890333,오뚜기 맛있는밥기획,432,9500,4104000
6090046,20210914,8801052085104,재래김 파래김 혼합7호,295,13000,3835000
6090044,20210910,8801052085104,재래김 파래김 혼합7호,295,13000,3835000
7927213,20220217,8801123602117,롯데 국산햄로스팜,2295,1600,3672000
4942909,20220217,8801043015264,농심 짜파게티 멀티,765,4500,3442500
5500975,20220126,8801045890333,오뚜기 맛있는밥기획,373,9200,3431600
8324637,20211015,8801582920067,쌀소성주,2724,1250,3405000
5500961,20211207,8801045890333,오뚜기 맛있는밥기획,350,9500,3325000
5500947,20211006,8801045890333,오뚜기 맛있는밥기획,346,9600,3321600
5500963,20211221,8801045890333,오뚜기 맛있는밥기획,342,9500,3249000
5500964,20211221,8801045890333,오뚜기 맛있는밥기획,342,9500,3249000
8400984,20220918,8801858041984,카스 큐팩1L,896,3590,3216640
8400983,20220918,8801858041984,카스 큐팩1L,896,3590,3216640
2620378,20220217,2908990043169,구호물품 택배비,765,4000,3060000
5500980,20220211,8801045890333,오뚜기 맛있는밥기획,328,9200,3017600
5500962,20211208,8801045890333,오뚜기 맛있는밥기획,315,9500,2992500
6063677,20210204,8801052069982,청정원 선물세트,53,55000,2915000

In [100]:
martA = amart
martA

           SAL_DT         PLU_CD    GDS_NM  SALE_QTY  SALE_PRC  SALE_AMT
0        20220928              1       배송비         1         0         0
1        20220929              1       배송비      5000         1      5000
2        20210722              2    사은행사쿠폰         1         0         0
3        20201222       93682091  스니커즈피넛싱글         1       990       990
4        20201222       93682091  스니커즈피넛싱글         1       990       990
...           ...            ...       ...       ...       ...       ...
9372284  20220924  9557240204305  피시스넥스파이스         1      1200      1200
9372285  20220929  9557240204305  피시스넥스파이스         2      1200      2400
9372286  20220929  9557240204305  피시스넥스파이스         2      1200      2400
9372287  20220930  9557240204305  피시스넥스파이스         2      1200      2400
9372288  20210124  9999999004766  0 30유리뚜껑         1      3800      3800

[9372289 rows x 6 columns]

In [101]:
martA.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9372289 entries, 0 to 9372288
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   SAL_DT    int64
 1   PLU_CD    object
 2   GDS_NM    object
 3   SALE_QTY  int32
 4   SALE_PRC  int32
 5   SALE_AMT  int32
dtypes: int32(3), int64(1), object(2)
memory usage: 393.3+ MB

In [102]:
martA.to_csv('martA.csv', index=False)

In [76]:
bmart

           SAL_DT         PLU_CD    GDS_NM  SALE_QTY  SALE_PRC  SALE_AMT
0        20220304              1       배송비    2000.0       1.0    2000.0
1        20220304              1       배송비    2000.0       1.0    2000.0
2        20220304              1       배송비    2000.0       1.0    2000.0
3        20220304              1       배송비    2000.0       1.0    2000.0
4        20210530        1801828  버드와이저(캔)       3.0    2650.0    7950.0
...           ...            ...       ...       ...       ...       ...
1342732  20220607  9901234001249    그린매실주통       1.0   13900.0   13900.0
1342733  20220617  9901234001249    그린매실주통       1.0   13900.0   13900.0
1342734  20220617  9901234001249    그린매실주통       1.0   13900.0   13900.0
1342735  20220620  9901234001249    그린매실주통       1.0   13900.0   13900.0
1342736  20220625  9901234001249    그린매실주통       1.0   13900.0   13900.0

[1342737 rows x 6 columns]

In [103]:
bmart = bmart.astype({'SALE_QTY' : 'int'})

In [104]:
bmart = bmart.astype({'SALE_PRC' : 'int'})

In [105]:
bmart = bmart.astype({'SALE_AMT' : 'int'})

In [106]:
bmart.sort_values('SALE_QTY', ascending=False).head(50)

,SAL_DT,PLU_CD,GDS_NM,SALE_QTY,SALE_PRC,SALE_AMT
963847,20210712,8801115111030,서울우유1.8,8888,5000,44440000
1036800,20210718,8801118249846,돼지바,5000,400,2000000
968411,20211002,8801115114031,서울우유(소),3000,1000,3000000
1,20220304,1,배송비,2000,1,2000
986282,20220112,8801115134039,서울우유커피카톤,2000,1000,2000000
0,20220304,1,배송비,2000,1,2000
2,20220304,1,배송비,2000,1,2000
3,20220304,1,배송비,2000,1,2000
891532,20220310,8801104210645,빙그레/굿모닝우유,1045,2200,2299000
891531,20220310,8801104210645,빙그레/굿모닝우유,1045,2200,2299000
392200,20220217,23000032,*소주(공병),1010,100,101000
708867,20220805,8801048943302,참이슬클래식1.8L,600,5400,3240000
708866,20220805,8801048943302,참이슬클래식1.8L,600,5400,3240000
914248,20210722,8801111912143,크.마이쮸(사과),250,1300,325000
315612,20211216,22000439,영업용 50L- 1장,150,1330,199500
877412,20211118,8801094363000,코카.파워에이드(캔),120,750,90000
877413,20211118,8801094363000,코카.파워에이드(캔),120,750,90000
877411,20211117,8801094363000,코카.파워에이드(캔),120,750,90000
1116413,20220328,8801166131025,크리넥스 KF94 방역마스크 대형,120,2000,240000
392211,20220224,23000032,*소주(공병),119,100,11900
392065,20210722,23000032,*소주(공병),115,100,11500
359912,20220401,22001931,재사용봉투 - 10L,100,250,25000
392123,20211021,23000032,*소주(공병),100,100,10000
345383,20220404,22001573,콩나물,100,4000,400000
392049,20210701,23000032,*소주(공병),97,100,9700
884537,20211117,8801097150010,포카리스웨트(캔),90,800,72000
884538,20211118,8801097150010,포카리스웨트(캔),90,800,72000
884539,20211118,8801097150010,포카리스웨트(캔),90,800,72000
286050,20220122,22000422,재사용봉투 -20L,85,490,41650
392082,20210826,23000032,*소주(공병),80,100,8000
392056,20210715,23000032,*소주(공병),80,100,8000
837816,20220219,8801068086003,샤.정통 크림빵,80,1200,96000
392084,20210826,23000032,*소주(공병),80,100,8000
392087,20210909,23000032,*소주(공병),80,100,8000
392041,20210617,23000032,*소주(공병),80,100,8000
392103,20210923,23000032,*소주(공병),80,100,8000
392117,20211007,23000032,*소주(공병),80,100,8000
392131,20211104,23000032,*소주(공병),80,100,8000
841363,20220206,8801068105742,삼립) 에그카스테라,80,1200,96000
392145,20211118,23000032,*소주(공병),79,100,7900
392153,20211202,23000032,*소주(공병),77,100,7700
392039,20210610,23000032,*소주(공병),75,100,7500
393368,20220830,2900000000018,야채,72,130000,9360000
837555,20220213,8801068085990,삽림.보름달,70,1200,84000
392059,20210715,23000032,*소주(공병),62,100,6200
280162,20211209,22000422,재사용봉투 -20L,61,490,29890
357648,20211107,22001931,재사용봉투 - 10L,61,250,15250
287300,20220201,22000422,재사용봉투 -20L,61,490,29890
261634,20210706,22000422,재사용봉투 -20L,61,490,29890
837541,20220115,8801068085990,삽림.보름달,60,1200,72000

In [107]:
bmart.sort_values('SALE_PRC', ascending=False).head(50)

          SAL_DT         PLU_CD      GDS_NM  SALE_QTY   SALE_PRC   SALE_AMT
156090  20220731         200366        풋고추          1  200156000  200156000
98540   20220705  2002190025007         알배기         1  200130000  200130000
185147  20220213         201140          참외         1    1050000    1050000
210893  20220107         204001    한우꽃등심1++         1     900000     900000
211028  20220906         204001    한우꽃등심1++         1     800000     800000
214356  20220124         204256      수입LA갈비         1     660000     660000
210932  20220301         204001    한우꽃등심1++         1     600000     600000
221996  20220112         204800   정육(감사합니다)         1     600000     600000
210918  20220129         204001    한우꽃등심1++         1     580000     580000
17900   20220620         200028     고사리(국산)         1     535920     535920
223084  20220407         206000   샤인머스켓(1팩)         1     522020     522020
211025  20220906         204001    한우꽃등심1++         2     500000    1000000
211027  20220906         204001    한우꽃등심1++         2     500000    1000000
211026  20220906         204001    한우꽃등심1++         2     500000    1000000
214389  20220903         204256      수입LA갈비        10     500000    5000000
214390  20220903         204256      수입LA갈비         6     500000    3000000
214391  20220903         204256      수입LA갈비         3     500000    1500000
393478  20210729  2900000000025          청과         1     430000     430000
223697  20220718         209014    한우치마살1++         1     400000     400000
223495  20211227         209009     양념돼지불고기         1     370020     370020
222075  20220623         204800   정육(감사합니다)         1     370000     370000
222103  20220809         204800   정육(감사합니다)         1     360000     360000
210916  20220127         204001    한우꽃등심1++         1     330000     330000
210915  20220127         204001    한우꽃등심1++         1     330000     330000
204398  20211031         202110         민어회         1     310300     310300
204399  20211031         202110         민어회         1     310300     310300
207864  20220901         202208         모듬롤         1     310300     310300
222001  20220129         204800   정육(감사합니다)         1     310000     310000
218934  20220605         204335  암돼지 짜장/카레용         1     300500     300500
207757  20220130         202201         양미리         1     300100     300100
204392  20210730         202107          민어         1     300100     300100
210894  20220107         204001    한우꽃등심1++        10     300000    3000000
222117  20220827         204800   정육(감사합니다)         1     300000     300000
211430  20220516         204004       한우치맛살         1     300000     300000
222088  20220714         204800   정육(감사합니다)         1     300000     300000
207853  20220922         202206          열기         1     300000     300000
207854  20220922         202206          열기         1     300000     300000
216992  20220817         204321    돼지앞다리찌개용         1     300000     300000
210895  20220107         204001    한우꽃등심1++        10     300000    3000000
204371  20210529         202105         미더덕         1     290100     290100
207863  20220828         202208         모듬롤         3     280100     840300
207883  20220928         202209  멘보샤(새우토스트)         2     280100     560200
211070  20220208         204003        한우안심         1     280000     280000
222127  20220906         204800   정육(감사합니다)         1     280000     280000
204368  20210527         202105         미더덕         1     270100     270100
204369  20210527         202105         미더덕         1     270100     270100
204370  20210527         202105         미더덕         1     270100     270100
213070  20220121         204025       한우찜갈비         1     270000     270000
207881  20220928         202209  멘보샤(새우토스트)         1     270000     270000
207882  20220928         202209  멘보샤(새우토스트)         1     270000     270000

In [108]:
bmart.sort_values('SALE_AMT', ascending=False).head(50)

           SAL_DT         PLU_CD        GDS_NM  SALE_QTY   SALE_PRC   SALE_AMT
156090   20220731         200366          풋고추          1  200156000  200156000
98540    20220705  2002190025007           알배기         1  200130000  200130000
963847   20210712  8801115111030       서울우유1.8      8888       5000   44440000
393368   20220830  2900000000018            야채        72     130000    9360000
214389   20220903         204256        수입LA갈비        10     500000    5000000
708867   20220805  8801048943302    참이슬클래식1.8L       600       5400    3240000
708866   20220805  8801048943302    참이슬클래식1.8L       600       5400    3240000
214390   20220903         204256        수입LA갈비         6     500000    3000000
210894   20220107         204001      한우꽃등심1++        10     300000    3000000
968411   20211002  8801115114031       서울우유(소)      3000       1000    3000000
210895   20220107         204001      한우꽃등심1++        10     300000    3000000
891532   20220310  8801104210645     빙그레/굿모닝우유      1045       2200    2299000
891531   20220310  8801104210645     빙그레/굿모닝우유      1045       2200    2299000
1036800  20210718  8801118249846           돼지바      5000        400    2000000
986282   20220112  8801115134039      서울우유커피카톤      2000       1000    2000000
214391   20220903         204256        수입LA갈비         3     500000    1500000
185147   20220213         201140            참외         1    1050000    1050000
211027   20220906         204001      한우꽃등심1++         2     500000    1000000
211025   20220906         204001      한우꽃등심1++         2     500000    1000000
211026   20220906         204001      한우꽃등심1++         2     500000    1000000
393713   20220128  2900000000025            청과        10      99000     990000
210893   20220107         204001      한우꽃등심1++         1     900000     900000
394020   20220904  2900000000025            청과        12      75000     900000
207863   20220828         202208           모듬롤         3     280100     840300
211028   20220906         204001      한우꽃등심1++         1     800000     800000
214356   20220124         204256        수입LA갈비         1     660000     660000
393708   20220127  2900000000025            청과         9      70000     630000
221996   20220112         204800     정육(감사합니다)         1     600000     600000
210932   20220301         204001      한우꽃등심1++         1     600000     600000
210918   20220129         204001      한우꽃등심1++         1     580000     580000
207883   20220928         202209    멘보샤(새우토스트)         2     280100     560200
17900    20220620         200028       고사리(국산)         1     535920     535920
223084   20220407         206000     샤인머스켓(1팩)         1     522020     522020
1164249  20211017  8801858133320     카스피쳐 1.6L        15      29400     441000
1164239  20210731  8801858133320     카스피쳐 1.6L        15      29400     441000
207875   20220923         202209    멘보샤(새우토스트)         2     220020     440040
393478   20210729  2900000000025            청과         1     430000     430000
346284   20210805       22001726  영업용 75L(10장)        20      20000     400000
346499   20220801       22001726  영업용 75L(10장)        20      20000     400000
346533   20220927       22001726  영업용 75L(10장)        20      20000     400000
346534   20220927       22001726  영업용 75L(10장)        20      20000     400000
346429   20220405       22001726  영업용 75L(10장)        20      20000     400000
346484   20220704       22001726  영업용 75L(10장)        20      20000     400000
346461   20220607       22001726  영업용 75L(10장)        20      20000     400000
346234   20210601       22001726  영업용 75L(10장)        20      20000     400000
223697   20220718         209014      한우치마살1++         1     400000     400000
346440   20220503       22001726  영업용 75L(10장)        20      20000     400000
346526   20220905       22001726  영업용 75L(10장)        20      20000     400000
346285   20210805       22001726  영업용 75L(10장)        20      20000     400000
346316   20211005       22001726  영업용 75L(10장)        20      20000     400000

In [77]:
cmart

           SAL_DT         PLU_CD          GDS_NM  SALE_QTY  SALE_PRC  SALE_AMT
0        20210527  8801068097474            땅콩샌드       1.0    1100.0    1100.0
1        20210529  8801068097474            땅콩샌드       1.0    1100.0    1100.0
2        20210529  8801068097474            땅콩샌드       1.0    1100.0    1100.0
3        20210530  8801068097474            땅콩샌드       1.0    1100.0    1100.0
4        20210531  8801068097474            땅콩샌드       1.0    1100.0    1100.0
...           ...            ...             ...       ...       ...       ...
2209350  20220819  9557240204053  피시스넥15g(스파이스맛)       3.0     700.0    2100.0
2209351  20220821  9557240204053  피시스넥15g(스파이스맛)       1.0     700.0     700.0
2209352  20220823  9557240204053  피시스넥15g(스파이스맛)       1.0     700.0     700.0
2209353  20220922  9557240204053  피시스넥15g(스파이스맛)       1.0     700.0     700.0
2209354  20220922  9557240204053  피시스넥15g(스파이스맛)       1.0     700.0     700.0

[2209355 rows x 6 columns]

In [78]:
dmart

          SAL_DT         PLU_CD GDS_NM  SALE_QTY  SALE_PRC  SALE_AMT
0       20210805          12003    얼음물       1.0    1200.0    1200.0
1       20210806          12003    얼음물       2.0    1200.0    2400.0
2       20210808          12003    얼음물       1.0    1200.0    1200.0
3       20210810          12003    얼음물       1.0    1200.0    1200.0
4       20210812          12003    얼음물       1.0    1200.0    1200.0
...          ...            ...    ...       ...       ...       ...
106662  20220827  9556486800210   망고푸딩       1.0    3500.0    3500.0
106663  20220828  9556486800210   망고푸딩       1.0    3500.0    3500.0
106664  20220913  9556486800210   망고푸딩       1.0    3500.0    3500.0
106665  20220920  9556486800210   망고푸딩       1.0    3500.0    3500.0
106666  20220922  9556486800210   망고푸딩       1.0    3500.0    3500.0

[106667 rows x 6 columns]

In [79]:
emart

          SAL_DT         PLU_CD    GDS_NM  SALE_QTY  SALE_PRC  SALE_AMT
0       20210908              2    사은행사쿠폰       1.0   -5000.0   -5000.0
1       20210908              2    사은행사쿠폰       1.0   -5000.0   -5000.0
2       20210910              2    사은행사쿠폰       1.0   -5000.0   -5000.0
3       20210910              2    사은행사쿠폰       1.0   -5000.0   -5000.0
4       20210910              2    사은행사쿠폰       1.0   -5000.0   -5000.0
...          ...            ...       ...       ...       ...       ...
950318  20220103  9556486800234     망고맛푸딩       1.0    3500.0    3500.0
950319  20220111  9556486800234     망고맛푸딩       1.0    3500.0    3500.0
950320  20220217  9556486800234     망고맛푸딩       1.0    3500.0    3500.0
950321  20211211           9900  다우니 3개행사       1.0    9900.0    9900.0
950322  20220117           9900  다우니 3개행사       1.0    9900.0    9900.0

[950323 rows x 6 columns]

In [80]:
fmart

           SAL_DT         PLU_CD      GDS_NM  SALE_QTY  SALE_PRC  SALE_AMT
0        20210825              1         배송비    3000.0       1.0    3000.0
1        20210829              1         배송비    3000.0       1.0    3000.0
2        20210829              1         배송비    3000.0       1.0    3000.0
3        20210831              1         배송비    3000.0       1.0    3000.0
4        20210907              1         배송비    3000.0       1.0    3000.0
...           ...            ...         ...       ...       ...       ...
1687305  20220714  9556437006456  미성/오키오구미포도       1.0    1800.0    1800.0
1687306  20220803  9556437006456  미성/오키오구미포도       1.0    1800.0    1800.0
1687307  20220824  9556437006456  미성/오키오구미포도       4.0    1800.0    7200.0
1687308  20220827  9556437006456  미성/오키오구미포도       1.0    1800.0    1800.0
1687309  20220908  9556437006456  미성/오키오구미포도       3.0    1800.0    5400.0

[1687310 rows x 6 columns]

In [81]:
gmart

           SAL_DT         PLU_CD     GDS_NM  SALE_QTY  SALE_PRC  SALE_AMT
0        20210827              1        배송비    2000.0       1.0    2000.0
1        20210827              1        배송비    2000.0       1.0    2000.0
2        20220624              1        배송비       1.0       0.0       0.0
3        20220723              1        배송비       1.0       0.0       0.0
4        20210827              2     사은행사쿠폰       1.0   -3000.0   -3000.0
...           ...            ...        ...       ...       ...       ...
1788256  20211031  9787535061874  오징어게임/푸쉬팝       2.0    5000.0   10000.0
1788257  20211102  9787535061874  오징어게임/푸쉬팝       1.0    5000.0    5000.0
1788258  20211104  9787535061874  오징어게임/푸쉬팝       1.0    5000.0    5000.0
1788259  20211105  9787535061874  오징어게임/푸쉬팝       1.0    5000.0    5000.0
1788260  20211121  9787535061874  오징어게임/푸쉬팝       1.0    5000.0    5000.0

[1788261 rows x 6 columns]

In [82]:
hmart

           SAL_DT         PLU_CD       GDS_NM  SALE_QTY  SALE_PRC  SALE_AMT
0        20210912              1          배송비       1.0       0.0       0.0
1        20220216              1          배송비       1.0       0.0       0.0
2        20210827              2       사은행사쿠폰       1.0   -3000.0   -3000.0
3        20210827              2       사은행사쿠폰       1.0   -3000.0   -3000.0
4        20210827              2       사은행사쿠폰       1.0   -3000.0   -3000.0
...           ...            ...          ...       ...       ...       ...
2013284  20220721  9556486800210  이멕스)망고맛푸딩기획       1.0    4500.0    4500.0
2013285  20220724  9556486800210  이멕스)망고맛푸딩기획       1.0    4500.0    4500.0
2013286  20220809  9556486800210  이멕스)망고맛푸딩기획       1.0    4500.0    4500.0
2013287  20220918  9556486800210  이멕스)망고맛푸딩기획       1.0    4500.0    4500.0
2013288  20211022         962153       962153       2.0    1000.0    2000.0

[2013289 rows x 6 columns]

In [83]:
imart

           SAL_DT         PLU_CD     GDS_NM  SALE_QTY  SALE_PRC  SALE_AMT
0        20220201  1172823100065      삼선슬리퍼       1.0    3500.0    3500.0
1        20220702  1172823100065      삼선슬리퍼       1.0    3500.0    3500.0
2        20220713  1172823100065      삼선슬리퍼       1.0    3500.0    3500.0
3        20220819  1172823100065      삼선슬리퍼       1.0    3500.0    3500.0
4        20220821  1172823100065      삼선슬리퍼       1.0    3500.0    3500.0
...           ...            ...        ...       ...       ...       ...
1902554  20220528  9556789867569  명진표고채슬라이스       1.0    5900.0    5900.0
1902555  20220528  9556789867569  명진표고채슬라이스       1.0    5900.0    5900.0
1902556  20220528  9556789867569  명진표고채슬라이스       1.0    5900.0    5900.0
1902557  20220528  9556789867569  명진표고채슬라이스       1.0    5900.0    5900.0
1902558  20220528  9556789867569  명진표고채슬라이스       1.0    5900.0    5900.0

[1902559 rows x 6 columns]

In [84]:
jmart

          SAL_DT          PLU_CD        GDS_NM  SALE_QTY  SALE_PRC  SALE_AMT
0       20211127   1500000166960  홍어회 날개(110g)       1.0   11000.0   11000.0
1       20211130   1500000166960  홍어회 날개(110g)       1.0   11000.0   11000.0
2       20211203   1500000166960  홍어회 날개(110g)       1.0   11000.0   11000.0
3       20211119  18801128504413     왕뚜껑소컵(6입)       1.0    5900.0    5900.0
4       20211208  18801128504413     왕뚜껑소컵(6입)       1.0    5900.0    5900.0
...          ...             ...           ...       ...       ...       ...
587404  20220911   9557240215059     피쉬스낵(바비큐)       1.0     500.0     500.0
587405  20220918   9557240215059     피쉬스낵(바비큐)       1.0     500.0     500.0
587406  20220927   9557240215059     피쉬스낵(바비큐)       1.0     500.0     500.0
587407  20220709   9788087049099           쿨토시       1.0    2000.0    2000.0
587408  20220805   9788087049099           쿨토시       1.0    2000.0    2000.0

[587409 rows x 6 columns]

In [85]:
kmart

          SAL_DT         PLU_CD GDS_NM  SALE_QTY  SALE_PRC  SALE_AMT
0       20220209              0     동태       1.0    4500.0    4500.0
1       20220917              0     동태       1.0    4500.0    4500.0
2       20220209              0   간고등어       1.0    4500.0    4500.0
3       20220917              0   간고등어       1.0    4500.0    4500.0
4       20210831              1    배송비       1.0    1500.0    1500.0
...          ...            ...    ...       ...       ...       ...
302953  20211102  9803340000003    갈대비       1.0    4200.0    4200.0
302954  20220118  9803340000003    갈대비       1.0    4200.0    4200.0
302955  20220118  9803340000003    갈대비       1.0    4200.0    4200.0
302956  20220316  9803340000003    갈대비       1.0    4200.0    4200.0
302957  20220916  9803340000003    갈대비       1.0    4200.0    4200.0

[302958 rows x 6 columns]

In [86]:
lmart

          SAL_DT         PLU_CD        GDS_NM  SALE_QTY  SALE_PRC  SALE_AMT
0       20211104  1353000003786  현)LED백열12W전구       2.0    6900.0   13800.0
1       20211110  1353000003786  현)LED백열12W전구       2.0    6900.0   13800.0
2       20220619    18200250002      버드740캔행사       1.0    3000.0    3000.0
3       20220621    18200250002      버드740캔행사       1.0    3000.0    3000.0
4       20220627    18200250002      버드740캔행사       1.0    3000.0    3000.0
...          ...            ...           ...       ...       ...       ...
411369  20220129  9990000131181         줄표백장갑       1.0     500.0     500.0
411370  20220206  9990000131181         줄표백장갑       1.0     500.0     500.0
411371  20220314  9990000131181         줄표백장갑       1.0     500.0     500.0
411372  20220314  9990000131181         줄표백장갑       1.0     500.0     500.0
411373  20220220  9990000131198         소주잔4입       1.0    1900.0    1900.0

[411374 rows x 6 columns]

In [87]:
mmart

          SAL_DT    PLU_CD    GDS_NM  SALE_QTY  SALE_PRC  SALE_AMT
0       20220922         0         0       1.0       0.0       0.0
1       20211206    200000       다시마       1.0    5800.0    5800.0
2       20211208    200000       다시마       1.0    5800.0    5800.0
3       20211209    200000       다시마       1.0   15000.0   15000.0
4       20211213    200000       다시마       1.0    5800.0    5800.0
...          ...       ...       ...       ...       ...       ...
619659  20211025  93682350  수입)트윅스싱글       1.0    1000.0    1000.0
619660  20220525  93682350  수입)트윅스싱글       1.0    1000.0    1000.0
619661  20220525  93682350  수입)트윅스싱글       1.0    1000.0    1000.0
619662  20220525  93682350  수입)트윅스싱글       1.0    1000.0    1000.0
619663  20211103    948642       콩나물       1.0    1300.0    1300.0

[619664 rows x 6 columns]

In [88]:
nmart

          SAL_DT         PLU_CD       GDS_NM  SALE_QTY  SALE_PRC  SALE_AMT
0       20211111     9800800056        누델라앤고       1.0    2300.0    2300.0
1       20211117     9800800056        누델라앤고       2.0    2300.0    4600.0
2       20211122     9800800056        누델라앤고       2.0    2300.0    4600.0
3       20211123     9800800056        누델라앤고       1.0    2300.0    2300.0
4       20211202     9800800056        누델라앤고       2.0    2300.0    4600.0
...          ...            ...          ...       ...       ...       ...
481828  20220512  9900000003401  로얄카드 인지(녹색)       1.0    3000.0    3000.0
481829  20220705  9900000003401  로얄카드 인지(녹색)       2.0    3000.0    6000.0
481830  20220803  9900000003401  로얄카드 인지(녹색)       1.0    5000.0    5000.0
481831  20220824  9900000003401  로얄카드 인지(녹색)       1.0    5000.0    5000.0
481832  20220910  9900000003401  로얄카드 인지(녹색)       1.0    5000.0    5000.0

[481833 rows x 6 columns]

In [89]:
omart

          SAL_DT         PLU_CD         GDS_NM  SALE_QTY  SALE_PRC  SALE_AMT
0       20211119  1000001883922    G몰리스고양이모래8L       1.0   11000.0   11000.0
1       20211128  1000001883922    G몰리스고양이모래8L       1.0   11000.0   11000.0
2       20220107  1000001883922    G몰리스고양이모래8L       1.0   11000.0   11000.0
3       20220210  1000001883922    G몰리스고양이모래8L       1.0   11000.0   11000.0
4       20211102  1000002019993        종량제봉투5L       1.0     250.0     250.0
...          ...            ...            ...       ...       ...       ...
613398  20220924     9800800056  페레로 누텔라앤고 52g       2.0    2200.0    4400.0
613399  20220927     9800800056  페레로 누텔라앤고 52g       1.0    2200.0    2200.0
613400  20220927     9800800056  페레로 누텔라앤고 52g       1.0    2200.0    2200.0
613401  20220929     9800800056  페레로 누텔라앤고 52g       1.0    2200.0    2200.0
613402  20220929     9800800056  페레로 누텔라앤고 52g       1.0    2200.0    2200.0

[613403 rows x 6 columns]

In [90]:
pmart

          SAL_DT         PLU_CD         GDS_NM  SALE_QTY  SALE_PRC  SALE_AMT
0       20220404    13407001112       매직스폰지(대)       1.0    2200.0    2200.0
1       20220414    13407001112       매직스폰지(대)       2.0    2200.0    4400.0
2       20220514    13407001112       매직스폰지(대)       1.0    2200.0    2200.0
3       20220520    13407001112       매직스폰지(대)       1.0    2200.0    2200.0
4       20220604    13407001112       매직스폰지(대)       1.0    2200.0    2200.0
...          ...            ...            ...       ...       ...       ...
416307  20220504  9334214017686  시저)연어와쇠고기 1Kg       1.0    9900.0    9900.0
416308  20220829  9334214017686  시저)연어와쇠고기 1Kg       1.0    9900.0    9900.0
416309  20220906  9334214017686  시저)연어와쇠고기 1Kg       1.0    9900.0    9900.0
416310  20220916  9334214017686  시저)연어와쇠고기 1Kg       1.0    9900.0    9900.0
416311  20220921  9334214017686  시저)연어와쇠고기 1Kg       1.0    9900.0    9900.0

[416312 rows x 6 columns]

mart1, mart2, mart3, mart4, mart5, mart6, mart7, mart8, mart9, mart10, mart11, mart12, mart13, mart14, mart15, mart16

In [ ]:
cat = pd.concat([mart1, mart2])
cat

In [ ]:
cat1 = pd.concat([mart1, mart2, mart3, mart4, mart5, mart6, mart7, mart8, mart9, mart10, mart11, mart12, mart13, mart14, mart15, mart16])
cat1

In [ ]:
cat1.isnull().sum()

In [ ]:
cat1

In [ ]:
cat1['GDS_NM']= cat1['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)
cat1['GDS_NM']

In [ ]:
cat1['GDS_NM'] = cat1['GDS_NM'].str.replace(" ", "")
cat1

In [ ]:
cat1

In [ ]:
# cat1.to_csv('cat1014.csv', index=False)