In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
base_path = ''

In [2]:
# 제품목록 gds_list_0, gds_list_1
df = pd.read_csv(base_path + 'cnn8cat1007.csv')

In [3]:
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
0,20210902,185158,2999000001262,*의성햇사과/8입(1봉),40601.0,9960.0
1,20210902,185158,2908990004443,쌈배추(벌크)1통,30101.0,1980.0
2,20210902,185158,2908990003866,*성주꿀참외(특)/6입.1봉,40101.0,9800.0
3,20210902,185158,351060,대패삼겹살(수입),52599.0,13060.0
4,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2088623,20220429,202815,8800789888880,찹쌀,105152.0,49500.0
2088624,20220713,152301,8800789888880,찹쌀,105152.0,49500.0
2088625,20211121,143020,8800789080000,늘보리,105152.0,7300.0
2088626,20220303,165411,8800789080000,늘보리,105152.0,7300.0
2088627,20220617,140922,8800789080000,늘보리,105152.0,7300.0

In [4]:
df['GDS_NM']= df['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)
df['GDS_NM']

0             의성햇사과 8입 1봉
1                쌈배추 벌크 1통
2           성주꿀참외 특  6입 1봉
3                대패삼겹살 수입
4                     거봉포도
                ...
2088623                 찹쌀
2088624                 찹쌀
2088625                늘보리
2088626                늘보리
2088627                늘보리
Name: GDS_NM, Length: 2088628, dtype: object

In [5]:
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
0,20210902,185158,2999000001262,의성햇사과 8입 1봉,40601.0,9960.0
1,20210902,185158,2908990004443,쌈배추 벌크 1통,30101.0,1980.0
2,20210902,185158,2908990003866,성주꿀참외 특 6입 1봉,40101.0,9800.0
3,20210902,185158,351060,대패삼겹살 수입,52599.0,13060.0
4,20210902,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2088623,20220429,202815,8800789888880,찹쌀,105152.0,49500.0
2088624,20220713,152301,8800789888880,찹쌀,105152.0,49500.0
2088625,20211121,143020,8800789080000,늘보리,105152.0,7300.0
2088626,20220303,165411,8800789080000,늘보리,105152.0,7300.0
2088627,20220617,140922,8800789080000,늘보리,105152.0,7300.0

In [10]:
df.SAL_DT = df.SAL_DT.astype('str')
df.SAL_DT

0          20210902
1          20210902
2          20210902
3          20210902
4          20210902
             ...
2088623    20220429
2088624    20220713
2088625    20211121
2088626    20220303
2088627    20220617
Name: SAL_DT, Length: 2088628, dtype: object

In [11]:
df.SAL_DT = pd.to_datetime(df.SAL_DT)

df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
0,2021-09-02,185158,2999000001262,의성햇사과 8입 1봉,40601.0,9960.0
1,2021-09-02,185158,2908990004443,쌈배추 벌크 1통,30101.0,1980.0
2,2021-09-02,185158,2908990003866,성주꿀참외 특 6입 1봉,40101.0,9800.0
3,2021-09-02,185158,351060,대패삼겹살 수입,52599.0,13060.0
4,2021-09-02,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2088623,2022-04-29,202815,8800789888880,찹쌀,105152.0,49500.0
2088624,2022-07-13,152301,8800789888880,찹쌀,105152.0,49500.0
2088625,2021-11-21,143020,8800789080000,늘보리,105152.0,7300.0
2088626,2022-03-03,165411,8800789080000,늘보리,105152.0,7300.0
2088627,2022-06-17,140922,8800789080000,늘보리,105152.0,7300.0

In [12]:
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
0,2021-09-02,185158,2999000001262,의성햇사과 8입 1봉,40601.0,9960.0
1,2021-09-02,185158,2908990004443,쌈배추 벌크 1통,30101.0,1980.0
2,2021-09-02,185158,2908990003866,성주꿀참외 특 6입 1봉,40101.0,9800.0
3,2021-09-02,185158,351060,대패삼겹살 수입,52599.0,13060.0
4,2021-09-02,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2088623,2022-04-29,202815,8800789888880,찹쌀,105152.0,49500.0
2088624,2022-07-13,152301,8800789888880,찹쌀,105152.0,49500.0
2088625,2021-11-21,143020,8800789080000,늘보리,105152.0,7300.0
2088626,2022-03-03,165411,8800789080000,늘보리,105152.0,7300.0
2088627,2022-06-17,140922,8800789080000,늘보리,105152.0,7300.0

In [13]:
df.to_csv('newdf1007.csv', index=False)