In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

base_path = ''

C:\Users\min\Anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\min\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
C:\Users\min\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"
C:\Users\min\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
gds = pd.read_csv(base_path + 'gds.csv')

gdsclss = pd.read_csv(base_path + 'gdsclss.csv')

trlist = pd.read_csv(base_path + 'trlist.csv')

trdtl = pd.read_csv(base_path + 'trdtl.csv')

<ipython-input-2-9df49ae41411>:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  gds = pd.read_csv(base_path + 'gds.csv')
<ipython-input-2-9df49ae41411>:5: DtypeWarning: Columns (2,9,11) have mixed types. Specify dtype option on import or set low_memory=False.
  trlist = pd.read_csv(base_path + 'trlist.csv')
<ipython-input-2-9df49ae41411>:7: DtypeWarning: Columns (2,8) have mixed types. Specify dtype option on import or set low_memory=False.
  trdtl = pd.read_csv(base_path + 'trdtl.csv')

In [3]:
drap = gds[gds['GDS_TP_NM'].str.contains('배송료')].index
gds.drop(drap, inplace=True)

In [4]:
drap = gds[gds['GDS_TP_NM'].str.contains('공병')].index
gds.drop(drap, inplace=True)

In [5]:
drap = trlist[trlist['SALE_KIND_TP_NM'].str.contains('로그인')].index
trlist.drop(drap, inplace=True)

In [6]:
drap = trlist[trlist['SALE_KIND_TP_NM'].str.contains('캐셔정산')].index
trlist.drop(drap, inplace=True)

In [7]:
drap = trlist[trlist['SALE_KIND_TP_NM'].str.contains('영업개시')].index
trlist.drop(drap, inplace=True)

In [8]:
drap = trlist[trlist['SALE_KIND_TP_NM'].str.contains('영업종료')].index
trlist.drop(drap, inplace=True)

In [9]:
drap = trlist[trlist['SALE_KIND_TP_NM'].str.contains('POS정산')].index
trlist.drop(drap, inplace=True)

In [10]:
drap = trlist[trlist['SALE_KIND_TP_NM'].str.contains('로그오프')].index
trlist.drop(drap, inplace=True)

In [11]:
drap = trlist[trlist['SALE_KIND_TP_NM'].str.contains('준비금')].index
trlist.drop(drap, inplace=True)

In [12]:
drap = trlist[trlist['SALE_KIND_TP_NM'].str.contains('거래후현영')].index
trlist.drop(drap, inplace=True)

In [13]:
drap = trlist[trlist['SALE_KIND_TP_NM'].str.contains('사내소비')].index
trlist.drop(drap, inplace=True)

In [14]:
drap = trlist[trlist['SALE_KIND_TP_NM'].str.contains('중간출금')].index
trlist.drop(drap, inplace=True)

In [15]:
drap = trlist[trlist['SALE_KIND_TP_NM'].str.contains('외상입금')].index
trlist.drop(drap, inplace=True)

In [16]:
drap = trlist[trlist['SALE_KIND_TP_NM'].str.contains('공병회수')].index
trlist.drop(drap, inplace=True)

In [17]:
trlist = trlist[trlist.SALE_RTN_SGN != -1]
trlist

,SAL_DT,STR_CD,POS_NO,TRAN_NO,SALE_KIND_TP_NM,SALE_RTN_SGN,REAL_SAL_DT,REAL_SAL_TTM,PAY_AMT,MSHP_ID,ORN_SAL_DT,ORN_POS_NO,ORN_TRAN_NO
0,20201220,12018,1,25,매출,1,20201220,105406.0,21880.0,NaN,NaN,NaN,NaN
2,20201220,12018,1,27,매출,1,20201220,105703.0,21880.0,012018_0,NaN,NaN,NaN
4,20201220,12018,1,34,매출,1,20201220,110647.0,20300.0,NaN,NaN,NaN,NaN
5,20201220,12018,1,35,매출,1,20201220,110935.0,19380.0,NaN,NaN,NaN,NaN
6,20201220,12018,1,36,매출,1,20201220,111357.0,15960.0,012018_1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7766640,20220901,168009,1,280,매출,1,20220901,142845.0,7400.0,NaN,NaN,NaN,NaN
7766641,20220901,168009,1,281,매출,1,20220901,143105.0,9000.0,NaN,NaN,NaN,NaN
7766642,20220901,168009,1,282,매출,1,20220901,143132.0,11000.0,NaN,NaN,NaN,NaN
7766643,20220901,168009,1,283,매출,1,20220901,143433.0,500.0,NaN,NaN,NaN,NaN
7766644,20220901,168009,1,284,매출,1,20220901,143610.0,1900.0,NaN,NaN,NaN,NaN

In [18]:
drap = trdtl[trdtl['DESI_CNCL_TP_NM'].str.contains('지정취소')].index
trdtl.drop(drap, inplace=True)

In [19]:
drap = trdtl[trdtl['DESI_CNCL_TP_NM'].str.contains('전체취소')].index
trdtl.drop(drap, inplace=True)

In [20]:
trdtl = trdtl[trdtl.SALE_RTN_SGN != -1]
trdtl

,SAL_DT,STR_CD,POS_NO,TRAN_NO,SEQ_NO,DESI_CNCL_TP_NM,SALE_RTN_SGN,PLU_CD,GDS_CLSS_CD,SALE_QTY,SALE_PRC,SALE_AMT,SGDS_DC_TP_NM,SGDS_DC_PRC,SUBTOT_DC_AMT,EVT_DC_AMT,CPON_DC_AMT,SCALES_GDS_TP_NM,GDS_CPON_DC_AMT,BASKET_CPON_DC_AMT
1,20201220,12018,1,25,1,정상판매,1,2908990003422,30499.0,1.0,18900.0,18900.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
2,20201220,12018,1,25,2,정상판매,1,2908990008472,30702.0,1.0,2980.0,2980.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
5,20201220,12018,1,27,1,정상판매,1,2908990003422,30499.0,1.0,18900.0,18900.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
6,20201220,12018,1,27,2,정상판매,1,2908990008472,30702.0,1.0,2980.0,2980.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
9,20201220,12018,1,34,1,정상판매,1,8809522421100,10303.0,1.0,5600.0,5600.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31498430,20220901,168009,1,282,4,정상판매,1,2504010000015,40101.0,1.0,3000.0,3000.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
31498431,20220901,168009,1,282,5,정상판매,1,8809730783199,999999.0,1.0,1000.0,1000.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
31498432,20220901,168009,1,283,1,정상판매,1,8801056020026,898989.0,1.0,500.0,500.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
31498433,20220901,168009,1,284,1,정상판매,1,4711269689931,999999.0,6.0,200.0,1200.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
31498434,20220901,168009,1,284,2,정상판매,1,8801045520117,999999.0,1.0,700.0,700.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0

In [21]:
trdtl = trdtl[trdtl.SALE_RTN_SGN != 0]
trdtl

,SAL_DT,STR_CD,POS_NO,TRAN_NO,SEQ_NO,DESI_CNCL_TP_NM,SALE_RTN_SGN,PLU_CD,GDS_CLSS_CD,SALE_QTY,SALE_PRC,SALE_AMT,SGDS_DC_TP_NM,SGDS_DC_PRC,SUBTOT_DC_AMT,EVT_DC_AMT,CPON_DC_AMT,SCALES_GDS_TP_NM,GDS_CPON_DC_AMT,BASKET_CPON_DC_AMT
1,20201220,12018,1,25,1,정상판매,1,2908990003422,30499.0,1.0,18900.0,18900.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
2,20201220,12018,1,25,2,정상판매,1,2908990008472,30702.0,1.0,2980.0,2980.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
5,20201220,12018,1,27,1,정상판매,1,2908990003422,30499.0,1.0,18900.0,18900.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
6,20201220,12018,1,27,2,정상판매,1,2908990008472,30702.0,1.0,2980.0,2980.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
9,20201220,12018,1,34,1,정상판매,1,8809522421100,10303.0,1.0,5600.0,5600.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31498430,20220901,168009,1,282,4,정상판매,1,2504010000015,40101.0,1.0,3000.0,3000.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
31498431,20220901,168009,1,282,5,정상판매,1,8809730783199,999999.0,1.0,1000.0,1000.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
31498432,20220901,168009,1,283,1,정상판매,1,8801056020026,898989.0,1.0,500.0,500.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
31498433,20220901,168009,1,284,1,정상판매,1,4711269689931,999999.0,6.0,200.0,1200.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
31498434,20220901,168009,1,284,2,정상판매,1,8801045520117,999999.0,1.0,700.0,700.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0

In [22]:
gds

,CO_CD,STR_CD,PLU_CD,GDS_NM,GDS_CLSS_CD,GDS_TP_NM,VEN_CD
0,1001294,12018,1,배송비,809999.0,일반,0
2,1001294,12018,91770,코지유리물병,93331.0,일반,0
3,1001294,12018,91770,크지물병,91701.0,일반,0
4,1001294,12018,50390427,POM석류,12579.0,일반,0
5,1001294,12018,50430048,POM블루베리,12579.0,일반,0
...,...,...,...,...,...,...,...
744362,1002056,168009,9805817760205,포카칩,898989.0,일반,46
744363,1002056,168009,9808205106111,매입에서등록한상품,997979.0,일반,30
744364,1002056,168009,9808862878406,월드콘,898989.0,일반,9
744365,1002056,168009,9880913160015,매입에서등록한상품,997979.0,일반,34
744366,1002056,168009,99889906,버디 토스트,898989.0,일반,8989

In [23]:
trdtl

,SAL_DT,STR_CD,POS_NO,TRAN_NO,SEQ_NO,DESI_CNCL_TP_NM,SALE_RTN_SGN,PLU_CD,GDS_CLSS_CD,SALE_QTY,SALE_PRC,SALE_AMT,SGDS_DC_TP_NM,SGDS_DC_PRC,SUBTOT_DC_AMT,EVT_DC_AMT,CPON_DC_AMT,SCALES_GDS_TP_NM,GDS_CPON_DC_AMT,BASKET_CPON_DC_AMT
1,20201220,12018,1,25,1,정상판매,1,2908990003422,30499.0,1.0,18900.0,18900.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
2,20201220,12018,1,25,2,정상판매,1,2908990008472,30702.0,1.0,2980.0,2980.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
5,20201220,12018,1,27,1,정상판매,1,2908990003422,30499.0,1.0,18900.0,18900.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
6,20201220,12018,1,27,2,정상판매,1,2908990008472,30702.0,1.0,2980.0,2980.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
9,20201220,12018,1,34,1,정상판매,1,8809522421100,10303.0,1.0,5600.0,5600.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31498430,20220901,168009,1,282,4,정상판매,1,2504010000015,40101.0,1.0,3000.0,3000.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
31498431,20220901,168009,1,282,5,정상판매,1,8809730783199,999999.0,1.0,1000.0,1000.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
31498432,20220901,168009,1,283,1,정상판매,1,8801056020026,898989.0,1.0,500.0,500.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
31498433,20220901,168009,1,284,1,정상판매,1,4711269689931,999999.0,6.0,200.0,1200.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
31498434,20220901,168009,1,284,2,정상판매,1,8801045520117,999999.0,1.0,700.0,700.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0

In [24]:
#mer = pd.merge(gds, trdtl, on='GDS_CLSS_CD', how='inner')
#mer

In [25]:
#mer1 = pd.merge(gds, trdtl, on='GDS_CLSS_CD', how='outer')
#mer1

In [26]:
#mer2 = pd.merge(gds, trdtl, on='PLU_CD', how='inner')
#mer2

In [27]:
#mer3 = pd.merge(gds, trdtl, on='PLU_CD', how='outer')
#mer3

In [28]:
#mer4 = pd.merge(gds, trdtl, on='STR_CD', how='inner')
#mer4

In [29]:
#mer5 = pd.merge(gds, trdtl, on='STR_CD', how='outer')
#mer5

In [30]:
mer6 = pd.merge(gds, trdtl, on='PLU_CD', how='left')
mer6

MemoryError: Unable to allocate 6.00 GiB for an array with shape (4, 201214079) and data type float64

In [ ]:
# mer = pd.merge(gds, trdtl)

In [ ]:
mer

In [ ]:
mer.columns

In [ ]:
mer1 = mer[['CO_CD', 'STR_CD', 'PLU_CD', 'GDS_NM', 'GDS_CLSS_CD', 'GDS_TP_NM',
       'VEN_CD', 'SAL_DT', 'POS_NO', 'TRAN_NO', 'SEQ_NO', 'DESI_CNCL_TP_NM',
       'SALE_RTN_SGN', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

In [ ]:
mer1

In [ ]:
# mer1.to_csv('mer1014.csv', index=False)