In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
base_path = ''

In [2]:
df = pd.read_csv(base_path + 'df1014.csv')
df

,STR_CD,PLU_CD,GDS_NM,GDS_CLSS_CD,SAL_DT,SALE_QTY,SALE_PRC,SALE_AMT
0,12018,1,배송비,809999.0,2022-09-29,5000.0,1.0,5000.0
1,12018,93682091,스니커즈피넛싱글,11509.0,2020-12-22,1.0,990.0,990.0
2,12018,93682091,스니커즈피넛싱글,11509.0,2020-12-22,1.0,990.0,990.0
3,12018,93682091,스니커즈피넛싱글,11509.0,2020-12-23,1.0,990.0,990.0
4,12018,93682091,스니커즈피넛싱글,11509.0,2020-12-23,2.0,990.0,1980.0
...,...,...,...,...,...,...,...,...
41369777,168009,8809071466140,코텍에스(S)자고리10P,997979.0,2022-02-28,1.0,2000.0,2000.0
41369778,168009,8809071466140,코텍에스(S)자고리10P,997979.0,2022-09-21,1.0,2000.0,2000.0
41369779,168009,8809071466140,코텍에스(S)자고리10P,997979.0,2021-11-11,1.0,2000.0,2000.0
41369780,168009,8809071466140,코텍에스(S)자고리10P,997979.0,2021-12-21,1.0,2000.0,2000.0
41369781,168009,8809071466140,코텍에스(S)자고리10P,997979.0,2022-02-28,1.0,2000.0,2000.0

In [3]:
df['GDS_NM'].value_counts()

재사용봉투(20L)       772242
*대파 1단           348478
배달봉투             301870
재사용봉투            246648
흙당근              220380
                  ...
니베아)모이스춰케어            1
퍼실(라벤더일반)             1
몰랑애착비누(클래어세트)         1
CJ/청양레몬간장드레싱          1
디스아프리카아이스잭 보루         1
Name: GDS_NM, Length: 73991, dtype: int64

In [4]:
df['GDS_NM']= df['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)
df['GDS_NM']

0                     배송비
1                스니커즈피넛싱글
2                스니커즈피넛싱글
3                스니커즈피넛싱글
4                스니커즈피넛싱글
                ...
41369777    코텍에스 S 자고리10P
41369778    코텍에스 S 자고리10P
41369779    코텍에스 S 자고리10P
41369780    코텍에스 S 자고리10P
41369781    코텍에스 S 자고리10P
Name: GDS_NM, Length: 41369782, dtype: object

In [5]:
df['GDS_NM'] = df['GDS_NM'].str.replace(" ", "")
df

,STR_CD,PLU_CD,GDS_NM,GDS_CLSS_CD,SAL_DT,SALE_QTY,SALE_PRC,SALE_AMT
0,12018,1,배송비,809999.0,2022-09-29,5000.0,1.0,5000.0
1,12018,93682091,스니커즈피넛싱글,11509.0,2020-12-22,1.0,990.0,990.0
2,12018,93682091,스니커즈피넛싱글,11509.0,2020-12-22,1.0,990.0,990.0
3,12018,93682091,스니커즈피넛싱글,11509.0,2020-12-23,1.0,990.0,990.0
4,12018,93682091,스니커즈피넛싱글,11509.0,2020-12-23,2.0,990.0,1980.0
...,...,...,...,...,...,...,...,...
41369777,168009,8809071466140,코텍에스S자고리10P,997979.0,2022-02-28,1.0,2000.0,2000.0
41369778,168009,8809071466140,코텍에스S자고리10P,997979.0,2022-09-21,1.0,2000.0,2000.0
41369779,168009,8809071466140,코텍에스S자고리10P,997979.0,2021-11-11,1.0,2000.0,2000.0
41369780,168009,8809071466140,코텍에스S자고리10P,997979.0,2021-12-21,1.0,2000.0,2000.0
41369781,168009,8809071466140,코텍에스S자고리10P,997979.0,2022-02-28,1.0,2000.0,2000.0

In [6]:
df['GDS_NM'].value_counts()

재사용봉투20L          972300
대파1단              361252
배달봉투              301870
재사용봉투             246648
흙당근               220380
                   ...
일광마포걸레원사               1
옴팡이키즈칫솔                1
이라이프양수냄비16cm           1
해찬들그대로된장찌개바지락게         1
특대왕혼합푸쉬팝달팽이            1
Name: GDS_NM, Length: 65287, dtype: int64

In [7]:
df1 = df[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]
df1

              SAL_DT         PLU_CD       GDS_NM  SALE_QTY  SALE_PRC  SALE_AMT
0         2022-09-29              1          배송비    5000.0       1.0    5000.0
1         2020-12-22       93682091     스니커즈피넛싱글       1.0     990.0     990.0
2         2020-12-22       93682091     스니커즈피넛싱글       1.0     990.0     990.0
3         2020-12-23       93682091     스니커즈피넛싱글       1.0     990.0     990.0
4         2020-12-23       93682091     스니커즈피넛싱글       2.0     990.0    1980.0
...              ...            ...          ...       ...       ...       ...
41369777  2022-02-28  8809071466140  코텍에스S자고리10P       1.0    2000.0    2000.0
41369778  2022-09-21  8809071466140  코텍에스S자고리10P       1.0    2000.0    2000.0
41369779  2021-11-11  8809071466140  코텍에스S자고리10P       1.0    2000.0    2000.0
41369780  2021-12-21  8809071466140  코텍에스S자고리10P       1.0    2000.0    2000.0
41369781  2022-02-28  8809071466140  코텍에스S자고리10P       1.0    2000.0    2000.0

[41369782 rows x 6 columns]

In [8]:
df1.to_csv('df1014_1.csv', index=False)